//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*Config variables-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

$options: (
	"transitions": true,

    "smooth-scroll": true,

    "forms": true,

    "alerts": true,
	"blockquotes": true,
	"buttons": true,
	"cards": true,
	"figures": true,
	"media": true,
	"tables": true,
	"tags": true,
);

$transition-duration-base:  .2s;
$transition-timing-function-base: ease;

$breakpoints: (
	'tiny'        : 480px,
	'small'       : 576px,
	'medium'      : 768px,
	'large'       : 992px,
	'extraLarge' : 1500px,
);

$border-radius-base: 3px;

$body-bg: color('white');
$body-bg-dark: grey(85);

$link-color: color('blue');
$link-decoration: underline;
$link-hover-color: darken( color('blue') , 15% );
$link-hover-decoration: underline;

$margin-base: 'medium-plus';

$components-background-base: grey(80);
$components-color-base: $color-dark;
$components-hover-base: 10%;

$components-background-dark: color('white');
$components-color-dark: $color-base;
$components-hover-dark: 10%;

$components: (
	('success', color('success')),
	('info', color('info')),
	('warning', color('warning')),
	('danger', color('danger')),
	('white', color('white'), $color-base),
	('ghost', transparent, $color-base),

    ('green', color('green')),
    ('light-blue', color('light-blue')),
    ('orange', color('orange')),
    ('red', color('red')),
    ('yellow', color('yellow')),
    ('blue', color('blue')),
    ('purple', color('purple')),
    ('brown', color('brown')),
);

$gutters: (
	'': spacer('medium'),
	'-l': spacer('large'),
	'-xl': spacer('large-plus'),
);

$min-grid-breakpoint: "small";
$max-grid-cols: 12;
