//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*Config variables-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

$options: (
	"transitions": true,

    "smooth-scroll": true,

    "forms": true,

    "alerts": true,
	"blockquotes": true,
	"tags": true,
	"buttons": true, // Need tags enable
	"cards": true,
	"figures": true,
	"media": true,
	"tables": true,
) !default;

$transition-duration-base: .2s !default;
$transition-timing-function-base: ease !default;

$breakpoints: (
	'tiny'        : 480px,
	'small'       : 576px,
	'medium'      : 768px,
	'large'       : 992px,
	'extraLarge' : 1500px,
) !default;

$border-radius-base: 3px !default;

$body-bg: color('white') !default;
$body-bg-dark: grey(85) !default;

$link-color: color('blue') !default;
$link-visited-color: darken( color('purple') , 15% ) !default;
$link-decoration: underline !default;
$link-hover-color: darken( $link-color , 15% ) !default;
$link-visited-hover-color: darken( $link-visited-color , 15% ) !default;
$link-hover-decoration: underline !default;

$link-color-dark: color('light-blue') !default;
$link-hover-color-dark: darken( $link-color-dark , 15% ) !default;
$link-visited-color-dark: color('purple') !default;
$link-visited-hover-color-dark: darken( $link-visited-color-dark , 15% ) !default;

$margin-base: 'medium-plus' !default;

$components-background: grey(80) !default;
$components-color: $body-color-dark !default;
$components-hover-darken-darken: 10% !default;

$components-background-dark: color('white') !default;
$components-color-dark: $body-color !default;
$components-hover-darken-dark: 10% !default;

$components: (
    'light': $components-background-dark,
    'dark': $components-background,
    'ghost': transparent,

    'red': color('red'),
    'orange': color('orange'),
    'yellow': color('yellow'),
    'green': color('green'),
    'blue': color('blue'),
    'light-blue': color('light-blue'),
    'purple': color('purple'),
    'brown': color('brown'),

	'success': color('success'),
	'info': color('info'),
	'warning': color('warning'),
	'danger': color('danger'),
) !default;

$gutters: (
	'': spacer('medium'),
	'-l': spacer('large'),
	'-xl': spacer('large-plus'),
) !default;

$grid-min-breakpoint: "small" !default;
$grid-max-cols: 12 !default;
