// ---------------------------------------------------
// CSS Variables (for dynamic light and dark variants)
// ---------------------------------------------------

@media (prefers-color-scheme: light) {
    :root {
        --body-bg-color: #{$body-bg};
        --color: #{$color-base};

        --link-color: #{$link-color};
        --link-hover-color: #{$link-hover-color};

        --components-background: #{$components-background-base};
        --components-background-hover: #{darken($components-background-base, $components-hover-base)};
        --components-color: #{$components-color-base};
        --components-background-inversed: #{$components-background-dark};
        --components-background-hover-inversed: #{darken($components-background-dark, $components-hover-dark)};
        --components-color-inversed: #{$components-color-dark};

        --tables-border-color: #{$tables-border-color};
        --tables-cells-border-color: #{$tables-cells-border-color};
        --tables-background: #{$tables-background};
        --tables-headings-cells-background: #{$tables-headings-cells-background};
        --tables-zebra-headings-cells-background: #{$tables-zebra-headings-cells-background};
        --tables-zebra-cells-background: #{$tables-zebra-cells-background};
        --tables-cells-hover-background: #{$tables-cells-hover-background};

        --input-border-color: #{$input-border-color};
        --input-hover-focus-border-color: #{$input-hover-focus-border-color};
        --input-background: #{$input-background};
        --input-disabled-background: #{$input-disabled-background};
        --checkbox-active-background: #{$checkbox-active-background};
        --checkbox-checked-background: #{$checkbox-checked-background};
        --checkbox-checked-icon-color: #{$checkbox-checked-icon-color};
        --checkbox-disabled-border-color: #{$checkbox-disabled-border-color};
        --checkbox-disabled-background: #{$checkbox-disabled-background};
        --range-track-color: #{$range-track-color};
        --range-track-disabled-color: #{$range-track-disabled-color};
        --range-thumb-color: #{$range-thumb-color};
        --range-thumb-color-hover: #{$range-thumb-color-hover};
        --progress-background: #{$progress-background};

        --blockquotes-background: #{$blockquotes-background};
        --blockquotes-color: #{$blockquotes-color};
        --blockquotes-cite-color: #{$blockquotes-cite-color};
        --blockquotes-quote-color: #{$blockquotes-quote-color};
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #{$body-bg-dark};
        --color: #{$color-dark};

        --link-color: #{$link-color-dark};
        --link-hover-color: #{$link-hover-color-dark};

        --components-background: #{$components-background-dark};
        --components-background-hover: #{darken($components-background-dark, $components-hover-dark)};
        --components-color: #{$components-color-dark};
        --components-background-inversed: #{$components-background-base};
        --components-background-hover-inversed: #{darken($components-background-base, $components-hover-base)};
        --components-color-inversed: #{$components-color-base};

        --tables-border-color: #{$tables-dark-border-color};
        --tables-cells-border-color: #{$tables-dark-cells-border-color};
        --tables-background: #{$tables-dark-background};
        --tables-headings-cells-background: #{$tables-dark-headings-cells-background};
        --tables-zebra-headings-cells-background: #{$tables-dark-zebra-headings-cells-background};
        --tables-zebra-cells-background: #{$tables-dark-zebra-cells-background};
        --tables-cells-hover-background: #{$tables-dark-cells-hover-background};

        --input-border-color: #{$input-border-color-dark};
        --input-hover-focus-border-color: #{$input-hover-focus-border-color-dark};
        --input-background: #{$input-background-dark};
        --input-disabled-background: #{$input-disabled-background-dark};
        --checkbox-active-background: #{$checkbox-active-background-dark};
        --checkbox-checked-background: #{$checkbox-checked-background-dark};
        --checkbox-checked-icon-color: #{$checkbox-checked-icon-color-dark};
        --checkbox-disabled-border-color: #{$checkbox-disabled-border-color-dark};
        --checkbox-disabled-background: #{$checkbox-disabled-background-dark};
        --range-track-color: #{$range-track-color-dark};
        --range-track-disabled-color: #{$range-track-disabled-color-dark};
        --range-thumb-color: #{$range-thumb-color-dark};
        --range-thumb-color-hover: #{$range-thumb-color-hover-dark};
        --progress-background: #{$progress-background-dark};

        --blockquotes-background: #{$blockquotes-background-dark};
        --blockquotes-color: #{$blockquotes-color-dark};
        --blockquotes-cite-color: #{$blockquotes-cite-color-dark};
        --blockquotes-quote-color: #{$blockquotes-quote-color-dark};
    }
}
