// -------------
// Font families
// -------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", 'ubuntu-mono', monospace !default;
$headings-font-family: $font-family-sans-serif !default;

// ------------
// Line heights
// ------------

$line-height-base: 1.5 !default;
$headings-line-height: 1.5 !default;

// ----------
// Text color
// ----------

$body-color: grey(95) !default;
$body-color-dark: grey(5) !default;

// ----------
// Text align
// ----------

$text-align-base: left !default;
$headings-text-align: left !default;

// ----------
// Font sizes
// ----------

$font-size-base: 1.6rem !default;
$mobile-font-size: 1.4rem !default;
$headings-font-size: 1em !default;

$headings-font-sizes: (
	h1: $headings-font-size + 1.4,
	h2: $headings-font-size + 1.0,
	h3: $headings-font-size + 0.8,
	h4: $headings-font-size + 0.4,
	h5: $headings-font-size + 0.2,
	h6: $headings-font-size + 0.1,
) !default;

// ------------
// Font weights
// ------------

$font-weights: (
	'lighter': lighter,
	'light': 300,
	'normal': 400,
	'bold': 700,
	'bolder': bolder,
) !default;

$font-weight-base: font-weight('normal') !default;
$headings-font-weight: font-weight('normal') !default;
