$spacer-base: 1rem !default;

:root {
    --spacer-base: #{$spacer-base};
}

$spacers: (
	'tiny': .25,
	'tiny-plus': .5,
	'small': .75,
	'small-plus': .9,
	'medium': 1,
	'medium-plus': 1.5,
	'large': 2,
	'large-plus': 2.5,
	'x-large': 3,
	'x-large-plus': 3.5,
	'xx-large': 4,
	'xx-large-plus': 4.5,
);
