//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*Core variables-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

$headings: "h1, h2, h3, h4, h5, h6" !default;

$headings-margin-bottom : spacer($margin-base, .5) !default;
$paragraph-margin-bottom: spacer($margin-base) !default;
$separator-margin: spacer($margin-base, 1.5) 0 !default;

$list-margin-bottom: spacer($margin-base) !default;
$list-padding-left: spacer("xx-large") !default;

$dt-font-weight: font-weight("bold") !default;

$kbd-border-radius: $border-radius-base !default;
$kbd-padding: 1px 2px !default;
$kbd-font-size: .9em !default;

$mark-border-radius: $border-radius-base !default;
$mark-padding: 1px !default;
$mark-background: color("yellow") !default;

// -----
// Forms
// -----

$label-margin-bottom: spacer("small") !default;

$input-border-width: 1px !default;
$input-border-color: grey(20) !default;
$input-hover-focus-border-color: grey(50) !default;
$input-border-radius: $border-radius-base !default;
$input-invalid-border-color: color('danger') !default;
$input-padding-vertical: spacer("tiny-plus") !default;
$input-padding-horizontal: spacer("medium") !default;
$input-background: color("white") !default;
$input-disabled-background: grey(10) !default;

$input-color-height: 35px !default;
$input-color-padding: spacer("tiny-plus") !default;

$select-option-padding: spacer("small") spacer("medium") !default;

$checkbox-size: spacer("large") !default;
$checkbox-active-background: grey(20) !default;
$checkbox-checked-background: grey(100) !default;
$checkbox-checked-icon-color: color("white") !default;
$checkbox-disabled-border-color: grey(30) !default;
$checkbox-disabled-background: grey(10) !default;
$checkbox-border-radius: 3px;

$range-track-color: grey(70) !default;
$range-track-disabled-color: grey(60) !default;
$range-thumb-color: grey(20) !default;
$range-thumb-hover-color: grey(30) !default;

$progress-height: spacer("large-plus") !default;
$progress-background: grey(20) !default;
$progress-bar-background: color("blue") !default;
$progress-border-radius: $input-border-radius !default;
$progress-indeterminate-animation: true !default;
$progress-indeterminate-animation-duration: .4s !default;

$meter-optimum-background: color("danger") !default;
$meter-sub-optimum-background: color("warning") !default;
$meter-sub-sub-optimum-background: color("success") !default;

$input-border-color-dark: grey(50) !default;
$input-hover-focus-border-color-dark: grey(20) !default;
$input-background-dark: grey(80) !default;
$input-disabled-background-dark: grey(30) !default;
$checkbox-active-background-dark: grey(60) !default;
$checkbox-checked-background-dark: grey(10) !default;
$checkbox-checked-icon-color-dark: grey(90) !default;
$checkbox-disabled-border-color-dark: grey(30) !default;
$checkbox-disabled-background-dark: grey(60) !default;
$range-track-color-dark: grey(50) !default;
$range-track-disabled-color-dark: grey(30) !default;
$range-thumb-color-dark: color("white") !default;
$range-thumb-hover-color-dark: grey(10) !default;
$progress-background-dark: grey(20) !default;

// -------
// Buttons
// -------

$button-padding: spacer("tiny-plus") spacer("medium") !default;
$button-font-size: .9em !default;
$button-border-radius: $border-radius-base !default;

$button-padding-large: spacer("small") spacer("medium-plus") !default;
$button-font-size-large: 1em !default;

$button-padding-extra-large: spacer("small-plus") spacer("large") !default;
$button-font-size-extra-large: 1.2em !default;

$button-padding-small: spacer("tiny") spacer("small") !default;
$button-font-size-small: .8em !default;

$button-padding-extra-small: spacer("tiny") spacer("tiny-plus") !default;
$button-font-size-extra-small: .7em !default;

// ----
// Tags
// ----

$tag-border-radius: $border-radius-base !default;
$tag-padding: spacer("tiny") spacer("tiny-plus") !default;
$tag-font-size: .8em !default;
$tag-border-width: 1px !default;
$tag-focus-outline-color-lighten: 20%;
$tag-focus-outline-color: lighten($components-background, $tag-focus-outline-color-lighten);
$tag-focus-outline-size: 3px;

$tag-focus-outline-color-darken-dark: 50%;
$tag-focus-outline-color-dark: darken($components-background-dark, $tag-focus-outline-color-lighten);

$tag-padding-large: spacer("tiny-plus") spacer("small") !default;
$tag-font-size-large: .85em !default;

$tag-padding-extra-large: spacer("small") spacer("small-plus") !default;
$tag-font-size-extra-large: .9em !default;

// ------
// Alerts
// ------

$alert-padding: spacer("medium") !default;
$alert-border-width: 1px !default;
$alert-border-left-width: 5px !default;
$alert-border-radius: $border-radius-base !default;
$alert-margin-bottom: $paragraph-margin-bottom !default;
$alert-title-font-size: 1.5em !default;
$alert-background-transparency-amount: .8;
$alert-color-brightness: 20%;
$alert-background: transparentize($components-background, $alert-background-transparency-amount) !default;

$alert-background-dark: transparentize($components-background-dark, $alert-background-transparency-amount) !default;
$alert-color-brightness-dark: 80%;

// -----
// Cards
// -----

$card-border-width: 1px !default;
$card-border-color: grey(50) !default;
$card-border-radius: $border-radius-base !default;
$card-title-font-size: 1.4em !default;
$card-subtitle-font-size: .9em !default;
$card-subtitle-color: grey(60) !default;
$card-body-padding: spacer("medium") !default;
$card-hover-box-shadow-width: 2px !default;

$card-subtitle-color-dark: grey(40);

// -----
// Media
// -----

$media-figure-margin-right: $paragraph-margin-bottom;

// ----
// Flex
// ----

$flex-direction-base: row !default;
$flex-wrap-base: nowrap !default;
$flex-justify-content-base: flex-start !default;
$flex-align-items-base: stretch !default;

// ------
// Tables
// ------

$table-background: $body-bg !default;
$table-border-radius: $border-radius-base !default;
$table-border-color: grey(85) !default;
$table-cell-border-color: grey(50) !default;
$table-border-width: 1px !default;
$table-cell-padding: spacer("small-plus") !default;
$table-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$table-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$table-slim-cell-padding: spacer("tiny") spacer("tiny-plus") !default;
$table-headings-cell-background: grey(20) !default;
$table-zebra-cell-background: grey(5) !default;
$table-cell-hover-background: grey(10) !default;

$table-border-color-dark: grey(70) !default;
$table-cell-border-color-dark: grey(50) !default;
$table-background-dark: grey(80) !default;
$table-headings-cell-background-dark: grey(90) !default;
$table-zebra-headings-cell-background-dark: grey(90) !default;
$table-zebra-cell-background-dark: grey(75) !default;
$table-cell-hover-background-dark: grey(85) !default;

$table-caption-color: grey(70) !default;
$table-caption-font-style: italic !default;

$table-caption-color-dark: grey(30) !default;

// -----------
// Blockquotes
// -----------

$blockquote-padding: spacer("x-large") !default;
$blockquote-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$blockquote-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$blockquote-background: grey(10) !default;
$blockquote-color: $body-color !default;
$blockquote-border-radius: $border-radius-big !default;
$blockquote-quote-color: grey(30) !default;
$blockquote-cite-color: grey(70) !default;
$blockquote-cite-text-align: right !default;
$blockquote-cite-margin-bottom: $paragraph-margin-bottom !default;

$blockquote-background-dark: grey(80) !default;
$blockquote-color-dark: $body-color-dark !default;
$blockquote-quote-color-dark: grey(60) !default;
$blockquote-cite-color-dark: grey(40) !default;

// -------
// Figures
// -------

$figure-background: grey(80) !default;
$figure-border-radius: $border-radius-big !default;
$figure-padding: spacer("large-plus") !default;
$figure-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$figure-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$figure-figcaption-color: grey(15) !default;
$figure-light-background: grey(10) !default;
$figure-light-figcaption-color: grey(75) !default;
$figure-max-height-image: 60vh !default;
