//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*Core variables-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

$headings: "h1, h2, h3, h4, h5, h6" !default;

$headings-margin-bottom : spacer($margin-base, .5) !default;
$paragraph-margin-bottom: spacer($margin-base, .5) !default;

$separator-margin: spacer($margin-base, 1.5) 0 !default;
$separator-color: inherit !default;
$separator-height: $border-width-base * 2 !default;
$separator-opacity: .25 !default;

$list-margin-bottom: spacer($margin-base) !default;
$list-padding-left: spacer("xx-large") !default;

$dt-font-weight: font-weight("bold") !default;

$kbd-border-radius: $border-radius-base !default;
$kbd-padding: px-to-rem(3px) px-to-rem(6px) !default;
$kbd-font-size: .9em !default;
$nested-kbd-font-weight: font-weight("bold") !default;

$mark-border-radius: $border-radius-base !default;
$mark-padding: px-to-rem(1px) !default;
$mark-background: color("yellow") !default;

$details-animation-translateY: px-to-rem(-10px) !default;
$details-animation-duration: $transition-duration-base * 2 !default;
$summary-focus-outline-size: $focus-outline-size-base !default;
$summary-focus-outline-color: $components-focus-outline-color !default;
$summary-focus-outline-offset: $focus-outline-offset-base !default;

$summary-focus-outline-color-dark: $components-focus-outline-color-dark !default;

// -----
// Forms
// -----

$label-margin-bottom: spacer("small") !default;

$input-border-width: $border-width-base !default;
$input-border-color: grey(20) !default;
$input-hover-border-color: grey(50) !default;
$input-border-radius: $border-radius-base !default;
$input-invalid-border-color: color('danger') !default;
$input-padding-vertical: spacer("tiny-plus") !default;
$input-padding-horizontal: spacer("medium") !default;
$input-background: grey(3) !default;
$input-disabled-opacity: .5 !default;

$input-color-height: px-to-rem(35px) !default;
$input-color-padding: spacer("tiny-plus") !default;

$select-option-padding: spacer("small") spacer("medium") !default;
$select-icon-color: $body-color !default;
$select-icon: escape-svg(url("data:image/svg+xml,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='m5 8 5 5 5-5' fill='none' stroke='#{$select-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/></svg>")) !default;

$checkbox-size: px-to-rem(20px) !default;
$checkbox-checked-background: $components-background !default;
$checkbox-checked-icon-color: $components-color !default;
$checkbox-border-radius: $border-radius-base !default;
$checkbox-focus-outline-color: $components-focus-outline-color !default;
$checkbox-focus-outline-size: $focus-outline-size-base !default;
$checkbox-focus-outline-offset: $focus-outline-offset-base !default;
$checkbox-checked-icon: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-checked-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/></svg>")) !default;
$radio-checked-icon: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='1.5' fill='#{$checkbox-checked-icon-color}'/></svg>")) !default;
$checkbox-indeterminate-icon: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-checked-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>")) !default;

$switch-height: $checkbox-size !default;
$switch-width:  $checkbox-size * 2 !default;
$switch-border-radius: 2rem !default;

$range-thumb-size: px-to-rem(15px) !default;
$range-track-height: 2px !default;
$range-track-border-radius: $border-radius-base !default;
$range-track-color: grey(25) !default;
$range-progress-color: $components-background !default;
$range-thumb-color: grey(10) !default;
$range-thumb-border-color: grey(80) !default;
$range-thumb-hover-color: grey(20) !default;
$range-thumb-focus-outline-size: $focus-outline-size-base !default;
$range-thumb-focus-outline-color: darken($range-thumb-color, 25%) !default;
$range-thumb-focus-outline-offset: 0 !default;

$progress-height: spacer("large-plus") !default;
$progress-background: grey(20) !default;
$progress-bar-background: $components-background !default;
$progress-border-radius: $input-border-radius !default;
$progress-indeterminate-background: darken($progress-background, 8%) !default;
$progress-indeterminate-animation: true !default;
$progress-indeterminate-animation-duration: .4s !default;

$meter-optimum-background: color("danger") !default;
$meter-sub-optimum-background: color("warning") !default;
$meter-sub-sub-optimum-background: color("success") !default;

$input-border-color-dark: grey(50) !default;
$input-hover-border-color-dark: grey(20) !default;
$input-background-dark: grey(80) !default;
$select-icon-color-dark: $body-color-dark !default;
$select-icon-dark: escape-svg(url("data:image/svg+xml,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='m5 8 5 5 5-5' fill='none' stroke='#{$select-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/></svg>")) !default;
$checkbox-checked-background-dark: $components-background-dark !default;
$checkbox-checked-icon-color-dark: $components-color-dark !default;
$checkbox-focus-outline-color-dark: $components-focus-outline-color-dark !default;
$checkbox-checked-icon-dark: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-checked-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/></svg>")) !default;
$radio-checked-icon-dark: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='1.5' fill='#{$checkbox-checked-icon-color-dark}'/></svg>")) !default;
$checkbox-indeterminate-icon-dark: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-checked-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>")) !default;
$range-track-color-dark: grey(65) !default;
$range-progress-color-dark: $components-background-dark !default;
$range-thumb-color-dark: grey(70) !default;
$range-thumb-border-color-dark: grey(20) !default;
$range-thumb-focus-outline-color-dark: lighten($range-thumb-color-dark, 20%) !default;
$range-thumb-hover-color-dark: grey(80) !default;
$progress-background-dark: grey(70) !default;
$progress-bar-background-dark: $components-background-dark !default;
$progress-indeterminate-background-dark: darken($progress-background-dark, 8%) !default;

// ------
// Linked
// ------

$linked-gap: 2px !default;
$linked-border-radius: $border-radius-base !default;

// -------
// Buttons
// -------

$button-padding: spacer("tiny-plus") spacer("medium") !default;
$button-font-size: .9em !default;
$button-border-radius: $border-radius-base !default;

$button-sizes: () !default;
$button-sizes: map-merge((
    // Name - Padding - Font size
    "xs": (spacer("tiny") spacer("tiny-plus"), .7em),
    "s": (spacer("tiny") spacer("small"), .8em),
    "l": (spacer("small") spacer("medium-plus"), 1em),
    "xl": (spacer("small-plus") spacer("large"), 1.2em),
), $button-sizes);

// ----
// Tags
// ----

$tag-border-radius: $border-radius-base !default;
$tag-padding: spacer("tiny") spacer("tiny-plus") !default;
$tag-font-size: .8em !default;
$tag-border-width: $border-width-base !default;
$tag-background: $components-background !default;
$tag-hover-background: $components-hover-background !default;
$tag-color: $components-color !default;
$tag-focus-outline-color-lighten: $components-focus-outline-color-lighten !default;
$tag-focus-outline-color: $components-focus-outline-color !default;
$tag-focus-outline-size: $focus-outline-size-base !default;
$tag-focus-outline-offset: $focus-outline-offset-base !default;
$tag-wired-color: $components-color-dark !default;
$tag-wired-hover-background-transparentize: .8 !default;

$tag-background-dark: $components-background-dark !default;
$tag-hover-background-dark: $components-hover-background-dark !default;
$tag-color-dark: $components-color-dark !default;
$tag-focus-outline-color-dark: $components-focus-outline-color-dark !default;
$tag-wired-color-dark: $components-color !default;

$tag-sizes: () !default;
$tag-sizes: map-merge((
    // Name - Padding - Font size
    "l": (spacer("tiny-plus") spacer("small") , .85em),
    "xl": (spacer("small") spacer("small-plus"), .9em),
), $tag-sizes);

// ------
// Alerts
// ------

$alert-padding: spacer($margin-base) !default;
$alert-border-width: $border-width-base !default;
$alert-big-border-width: px-to-rem(6px) !default;
$alert-big-border-position: left !default;
$alert-border-radius: $border-radius-base !default;
$alert-margin-bottom: $paragraph-margin-bottom !default;
$alert-title-font-size: 1.5em !default;
$alert-background-transparency-amount: .8 !default;
$alert-color-brightness: 20% !default;
$alert-color: $body-color !default;
$alert-background: transparentize($components-background, $alert-background-transparency-amount) !default;
$alert-border-color: $components-background !default;

$alert-color-dark: $body-color-dark !default;
$alert-background-dark: transparentize($components-background-dark, $alert-background-transparency-amount) !default;
$alert-border-color-dark: $components-background-dark !default;

// -----
// Cards
// -----

$card-border-width: $border-width-base !default;
$card-border-color: grey(40) !default;
$card-border-radius: $border-radius-base !default;
$card-background: grey(5) !default;
$card-background-hover: grey(8) !default;
$card-focus-outline-color: $components-focus-outline-color !default;
$card-focus-outline-size: $focus-outline-size-base !default;
$card-focus-outline-offset: $focus-outline-offset-base !default;
$card-title-font-size: 1.4em !default;
$card-subtitle-font-size: .9em !default;
$card-subtitle-color: grey(60) !default;
$card-body-padding: spacer($margin-base) !default;

$card-border-color-dark: grey(70) !default;
$card-background-dark: grey(90) !default;
$card-background-hover-dark: grey(93) !default;
$card-focus-outline-color-dark: $components-focus-outline-color-dark !default;
$card-subtitle-color-dark: grey(40) !default;

// -----
// Media
// -----

$media-figure-margin-right: $paragraph-margin-bottom !default;
$media-responsive-breakpoint: "xs" !default;

// ----
// Flex
// ----

$flex-direction-base: row !default;
$flex-wrap-base: nowrap !default;
$flex-justify-content-base: flex-start !default;
$flex-align-items-base: stretch !default;

// ------
// Tables
// ------

$table-background: $body-bg !default;
$table-border-radius: $border-radius-base !default;
$table-border-color: grey(85) !default;
$table-cell-border-color: grey(50) !default;
$table-border-width: $border-width-base !default;
$table-cell-padding: spacer("small-plus") !default;
$table-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$table-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$table-slim-cell-padding: spacer("tiny") spacer("tiny-plus") !default;
$table-headings-cell-background: grey(20) !default;
$table-zebra-cell-background: grey(5) !default;
$table-cell-hover-background: grey(10) !default;

$table-border-color-dark: grey(70) !default;
$table-cell-border-color-dark: grey(50) !default;
$table-background-dark: grey(80) !default;
$table-headings-cell-background-dark: grey(90) !default;
$table-zebra-headings-cell-background-dark: grey(90) !default;
$table-zebra-cell-background-dark: grey(75) !default;
$table-cell-hover-background-dark: grey(85) !default;

$table-caption-color: grey(70) !default;
$table-caption-font-style: italic !default;

$table-caption-color-dark: grey(30) !default;

// -----------
// Blockquotes
// -----------

$blockquote-padding: spacer("x-large") !default;
$blockquote-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$blockquote-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$blockquote-background: grey(10) !default;
$blockquote-color: $body-color !default;
$blockquote-border-radius: $border-radius-big !default;
$blockquote-quote-color: grey(30) !default;
$blockquote-cite-color: grey(70) !default;
$blockquote-cite-text-align: right !default;
$blockquote-cite-margin-bottom: $paragraph-margin-bottom !default;

$blockquote-background-dark: grey(80) !default;
$blockquote-color-dark: $body-color-dark !default;
$blockquote-quote-color-dark: grey(60) !default;
$blockquote-cite-color-dark: grey(40) !default;

// -------
// Figures
// -------

$figure-background: grey(80) !default;
$figure-border-radius: $border-radius-big !default;
$figure-padding: spacer("large-plus") !default;
$figure-margin-top: calc(#{$paragraph-margin-bottom} * 2) !default;
$figure-margin-bottom: calc(#{$paragraph-margin-bottom} * 2) !default;
$figure-figcaption-color: grey(15) !default;
$figure-background-light: grey(10) !default;
$figure-figcaption-color-light: grey(75) !default;
$figure-max-height-image: 60vh !default;

// -----
// Print
// -----

$print-body-color: $body-color !default;
$print-body-bg: white !default;
