$map: (
    'test-name': 'test-value'
);

$colors: (
    'white': #ffffff
);

$font-weights: (
    'normal': 400
);

$spacers: (
    'large': 2
);

$options: (
    'border-radius': true,
    'box-shadow': true,
    'transitions': true,
	'enabled-option': true,
	'second-enabled-option': true,
    'disabled-option': false
);

$transition-duration-base:  .2s;
$transition-timing-function-base: ease;

$breakpoints: (
	'medium': 48rem
);

$classes: (
    "class-name": "class",
);

$utilities-options: (
    // Name - Enabled - Responsive - Dark theme - Print
    "area": (true, true, true, true),
    "disabled-area": (false, false, false, false),
    "enabled-area": (true, false, false, false),
    "responsive-area": (true, true, false, false),
    "dark-theme-area": (true, false, true, false),
    "print-area": (true, false, false, true),
)
