@mixin option($name) {
	@if getter($options, $name){
		@content;
	}
}

@mixin transition($property, $duration: $transition-duration-base, $timing-function: $transition-timing-function-base, $delay: 0) {
	@include option("transitions") {
        transition-property: #{$property};
		transition-duration: $duration;
		transition-timing-function: $timing-function;
        @if $delay > 0 {
            transition-delay: $delay;
        }
	}
}

@mixin respond-to($name, $direction: "up") {
	@if map-has-key($breakpoints, $name) {
		@if $direction == "up" {
			@media (min-width: #{map-get($breakpoints, $name)}) {
				@content;
			}
		}

		@else if $direction == "down" {
			@media (max-width: #{map-get($breakpoints, $name) - 1}) {
				@content;
			}
		}
	}

	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. "
		+ "Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin print {
	@media print { @content; }
}
