// ---------------------------------------------------
// CSS Variables (for dynamic light and dark variants)
// ---------------------------------------------------

$inverted-suffix: "-inverted";

:root {
    --spacer-base: #{$spacer-base};

    --body-bg: #{$body-bg};
    --body-color: #{$body-color};
    --body-bg-inverted: #{$body-bg-dark};
    --body-color-inverted: #{$body-color-dark};

    --link-color: #{$link-color};
    --link-hover-focus-color: #{$link-hover-focus-color};
    --link-visited-color: #{$link-visited-color};
    --link-visited-hover-focus-color: #{$link-visited-hover-focus-color};

    --link-color-inverted: #{$link-color-dark};
    --link-hover-focus-color-inverted: #{$link-hover-focus-color-dark};
    --link-visited-color-inverted: #{$link-visited-color-dark};
    --link-visited-hover-focus-color-inverted: #{$link-visited-hover-focus-color-dark};

    --components-background: #{$components-background};
    --components-background-hover: #{darken($components-background, $components-hover-darken)};
    --components-color: #{$components-color};
    --components-background-inverted: #{$components-background-dark};
    --components-background-hover-inverted: #{darken($components-background-dark, $components-hover-darken-dark)};
    --components-color-inverted: #{$components-color-dark};

    --input-border-color: #{$input-border-color};
    --input-hover-focus-border-color: #{$input-hover-focus-border-color};
    --input-background: #{$input-background};
    --input-disabled-background: #{$input-disabled-background};
    --checkbox-active-background: #{$checkbox-active-background};
    --checkbox-checked-background: #{$checkbox-checked-background};
    --checkbox-checked-icon-color: #{$checkbox-checked-icon-color};
    --checkbox-disabled-border-color: #{$checkbox-disabled-border-color};
    --checkbox-disabled-background: #{$checkbox-disabled-background};
    --range-track-color: #{$range-track-color};
    --range-track-disabled-color: #{$range-track-disabled-color};
    --range-thumb-color: #{$range-thumb-color};
    --range-thumb-hover-color: #{$range-thumb-hover-color};
    --progress-background: #{$progress-background};

    @each $name, $config in $custom-css-vars {
        $light: nth($config, 1);
        $dark: nth($config, 2);
        $inverted: nth($config, 3);

        --#{$name}: #{$light};

        @if $inverted {
            --#{$name}#{$inverted-suffix}: #{$dark};
        }
    }
}

@include option("dark-theme") {
    @media (prefers-color-scheme: dark) {
        :root {
            --body-bg: #{$body-bg-dark};
            --body-color: #{$body-color-dark};
            --body-bg-inverted: #{$body-bg};
            --body-color-inverted: #{$body-color};

            --link-color: #{$link-color-dark};
            --link-hover-focus-color: #{$link-hover-focus-color-dark};
            --link-visited-color: #{$link-visited-color-dark};
            --link-visited-hover-focus-color: #{$link-visited-hover-focus-color-dark};

            --link-color-inverted: #{$link-color};
            --link-hover-focus-color-inverted: #{$link-hover-focus-color};
            --link-visited-color-inverted: #{$link-visited-color};
            --link-visited-hover-focus-color-inverted: #{$link-visited-hover-focus-color};

            --components-background: #{$components-background-dark};
            --components-background-hover: #{darken($components-background-dark, $components-hover-darken-dark)};
            --components-color: #{$components-color-dark};
            --components-background-inverted: #{$components-background};
            --components-background-hover-inverted: #{darken($components-background, $components-hover-darken)};
            --components-color-inverted: #{$components-color};

            --input-border-color: #{$input-border-color-dark};
            --input-hover-focus-border-color: #{$input-hover-focus-border-color-dark};
            --input-background: #{$input-background-dark};
            --input-disabled-background: #{$input-disabled-background-dark};
            --checkbox-active-background: #{$checkbox-active-background-dark};
            --checkbox-checked-background: #{$checkbox-checked-background-dark};
            --checkbox-checked-icon-color: #{$checkbox-checked-icon-color-dark};
            --checkbox-disabled-border-color: #{$checkbox-disabled-border-color-dark};
            --checkbox-disabled-background: #{$checkbox-disabled-background-dark};
            --range-track-color: #{$range-track-color-dark};
            --range-track-disabled-color: #{$range-track-disabled-color-dark};
            --range-thumb-color: #{$range-thumb-color-dark};
            --range-thumb-hover-color: #{$range-thumb-hover-color-dark};
            --progress-background: #{$progress-background-dark};

            @each $name, $config in $custom-css-vars {
                $light: nth($config, 1);
                $dark: nth($config, 2);
                $inverted: nth($config, 3);

                --#{$name}: #{$dark};

                @if $inverted {
                    --#{$name}#{$inverted-suffix}: #{$light};
                }
            }
        }
    }

}
