@mixin media-flex($prefix: "") {
	.#{$prefix}#{class("Flex-direction")} {
		&#{class("(Flex)-row")} { flex-direction: row; }
		&#{class("(Flex)-row-reverse")} { flex-direction: row-reverse; }
		&#{class("(Flex)-column")} { flex-direction: column; }
		&#{class("(Flex)-column-reverse")} { flex-direction: column-reverse; }
	}

	.#{$prefix}#{class("Flex-wrap")} {
		flex-wrap: wrap;

        &#{class("(Flex-wrap)-reverse")} {
    		flex-wrap: wrap-reverse;
    	}
	}
	.#{$prefix}#{class("Flex-nowrap")} {
		flex-wrap: nowrap;
	}

	.#{$prefix}#{class("Flex-justify-content")}  {
		&#{class("(Flex)-start")} { justify-content: flex-start; }
		&#{class("(Flex)-end")} { justify-content: end; }
		&#{class("(Flex)-center")} { justify-content: center; }
		&#{class("(Flex)-between")} { justify-content: space-between; }
		&#{class("(Flex)-around")} { justify-content: space-around; }
	}
	.#{$prefix}#{class("Flex-align-items")}  {
		&#{class("(Flex)-start")} { align-items: flex-start; }
		&#{class("(Flex)-end")} { align-items: end; }
		&#{class("(Flex)-center")} { align-items: center; }
		&#{class("(Flex)-baseline")} { align-items: baseline; }
		&#{class("(Flex)-stretch")} { align-items: stretch; }
	}
	.#{$prefix}#{class("Flex-align-content")}  {
		&#{class("(Flex)-start")} { align-content: flex-start; }
		&#{class("(Flex)-end")} { align-content: end; }
		&#{class("(Flex)-center")} { align-content: center; }
		&#{class("(Flex)-baseline")} { align-content: baseline; }
		&#{class("(Flex)-stretch")} { align-content: stretch; }
	}

	.#{$prefix}#{class("Flex-align-self")}  {
		&#{class("(Flex)-start")} { align-self: flex-start; }
		&#{class("(Flex)-end")} { align-self: end; }
		&#{class("(Flex)-center")} { align-self: center; }
		&#{class("(Flex)-baseline")} { align-self: baseline; }
		&#{class("(Flex)-stretch")} { align-self: stretch; }
	}
}

@include utility-option("flex") {
    .#{class("Flex")} {
    	display: flex;
    	flex-direction: $flex-direction-base;
    	flex-wrap: $flex-wrap-base;
    	justify-content: $flex-justify-content-base;
    	align-items: $flex-align-items-base;
    }

    @include media-flex();
}
