//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*CSS reset (based on Bootstrap Reboot) and basic styles-*-*-*-*-*-*-*-*-*-*-*-*-*
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

* {
    @media (prefers-reduced-motion: reduce) {
        animation: none !important;
        transition: none !important;
    }
}

*,
*::before,
*::after {
	box-sizing: border-box;
	max-width: 100%;
}

html {
	font-size: 62.5%;
	font-size: calc(1em * 0.625);
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

@include respond-to("small", "down") {
	div,
	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		word-wrap: break-word;
		overflow-wrap: break-word;
		hyphens: auto;
	}
}

body {
	margin: 0;
	font-family: $font-family-sans-serif;
	font-size: $mobile-font-size;

	@include respond-to("small", "up") {
		font-size: $font-size-base;
	}

	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: var(--body-color);
	text-align: left;
	background: var(--body-bg-color);

    @include option("smooth-scroll") {
        scroll-behavior: smooth;
        @media (prefers-reduced-motion: reduce) {
            scroll-behavior: auto;
        }
    }

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(color("black"), 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

hr {
	box-sizing: content-box;
	height: 0;
    width: 100%;
	overflow: visible;
	margin: $separator-margin;
}

#{$headings} {
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;
    font-weight: $headings-font-weight;
    font-family: $headings-font-family;
    line-height: $headings-line-height;
    text-align: $headings-text-align;
}

@each $h, $font-size in $headings-font-sizes {
	#{$h} {
		font-size: $font-size;
	}
}

p {
	margin-top: 0;
	margin-bottom: $paragraph-margin-bottom;
}

abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	text-decoration: underline dotted;
	cursor: help;
	text-decoration-skip-ink: none;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	padding-left: $list-padding-left;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: $list-margin-bottom;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: $dt-font-weight;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

b,
strong {
	font-weight: font-weight('bolder');
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }

a {
	color: var(--link-color);
	text-decoration: $link-decoration;
	background: transparent;

    @include transition("color");

	&:hover, &:focus {
		color: var(--link-hover-focus-color);
		text-decoration: $link-hover-focus-decoration;
	}

    &:visited {
        color: var(--link-visited-color);

        &:hover, &:focus {
            color: var(--link-visited-hover-focus-color);
        }
    }
}

a:not([href]):not([tabindex]) {
    &, &:hover, &:focus {
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}
}

cite,
dfn,
em,
q {
	font-style: italic;
}

pre,
code,
kbd,
samp {
	font-family: $font-family-monospace;
	font-size: $font-size-base;
}

pre {
	margin: 0 0 $paragraph-margin-bottom;
	overflow: auto;
    -ms-overflow-style: scrollbar;
}

kbd {
	border: 1px solid var(--body-color);
	@include border-radius($kbd-border-radius);
	padding: $kbd-padding;
	font-size: $kbd-font-size;
    vertical-align: middle;

	> kbd {
		border: none;
		padding: 0;
	}

	+ kbd::before {
		content: " + ";
		display: inline;
		font-size: $kbd-font-size;
	}
}

mark {
	@include border-radius($mark-border-radius);
	padding: $mark-padding;
	background: $mark-background;
}

figure {
	margin: 0 0 $paragraph-margin-bottom;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

caption {
	padding-top: $table-cell-padding;
	padding-bottom: $table-cell-padding;
	color: $table-caption-color;
	text-align: left;
	caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
	display: inline-block;
	margin-bottom: $label-margin-bottom;
}

button {
	border-radius: 0;

	&:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
	}
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
	vertical-align: middle;
}

button,
select {
	text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;

    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}

textarea,
select[multiple] { vertical-align: top; }

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: $label-margin-bottom;
	line-height: inherit;
	color: inherit;
	white-space: normal;

    + * {
        clear: left;
    }

}

progress {
	vertical-align: baseline;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

iframe {
    border: 0;
}

details {
    margin-bottom: $paragraph-margin-bottom;

    #{$headings} {
        display: inline-block;
    }
}

summary {
	display: list-item;
	cursor: pointer;
}

progress {
    vertical-align: baseline;
}

template {
	display: none;
}

[hidden]{
	display: none !important;
}
