@mixin media-border-utilities($prefix: "") {
    .#{$prefix}#{class("border")} {
    	border: 1px solid $body-color !important;

        &#{class("(border)-none")} {
            border: none !important;
        }
    }

    .#{$prefix}#{class("border-radius")} {
    	border-radius: $border-radius-base !important;
    }

    @each $name, $color in $colors {
    	.#{$prefix}#{class("border")}-#{$name} { border: 1px solid $color !important; }
    }

    @for $i from 1 through 20 {
    	.#{$prefix}#{class("border")}-#{class("grey")}#{$i * 5} { border: 1px solid grey($i * 5) !important; }
    }
}

@mixin media-color-utilities($prefix: "") {
    .#{$prefix}#{class("text")}#{class("(text)-color")}  {
        @each $name, $color in $colors {
            &-#{$name} { color: $color !important; }
        }

        @for $i from 1 through 20 {
            &-#{class("grey")}#{$i * 5} { color: grey($i * 5) !important; }
        }
    }

    @each $name, $color in $colors {
    	.#{$prefix}#{class("background")}-#{$name} { background: $color !important; }
    }

    @for $i from 1 through 20 {
    	.#{$prefix}#{class("background")}-#{class("grey")}#{$i * 5} { background: grey($i * 5) !important; }
    }
}

@mixin media-display-utilities($prefix: "") {
	.#{$prefix}#{class("display")} {
		&#{class("(display)-none")} { display: none !important; }
		&#{class("(display)-inline")} { display: inline !important; }
		&#{class("(display)-inline-block")} { display: inline-block !important; }
		&#{class("(display)-block")} { display: block !important; }
		&#{class("(display)-table")} { display: table !important; }
		&#{class("(display)-table-cell")} { display: table-cell !important; }
		&#{class("(display)-table-row")} { display: table-row !important; }
		&#{class("(display)-flex")} { display: flex !important; }
		&#{class("(display)-inline-flex")} { display: inline-flex !important; }
		&#{class("(display)-grid")} { display: grid !important; }
		&#{class("(display)-inline-grid")} { display: inline-grid !important; }
	}
}

@mixin media-size-utilities($prefix: "") {
	.#{$prefix}#{class("width")} {
		&#{class("(size)-auto")} {
            max-width: auto !important;
            width: 100% !important;
        }
        &#{class("(size)-viewport")} {
            max-width: 100vw;
            width: 100% !important;
        }
		&#{class("(size)-25%")} {
            max-width: 25% !important;
            width: 100% !important;
        }
		&#{class("(size)-50%")} {
            max-width: 50% !important;
            width: 100% !important;
        }
		&#{class("(size)-75%")} {
            max-width: 75% !important;
            width: 100% !important;
        }
		&#{class("(size)-100%")} {
            max-width: 100% !important;
            width: 100% !important;
        }
		&#{class("(size)-1/3")} {
            max-width: calc(100% / 3) !important;
            width: 100% !important;
        }
		&#{class("(size)-2/3")} {
            max-width: calc((100% / 3) * 2) !important;
            width: 100% !important;
        }
	}

    .#{$prefix}#{class("height")} {
		&#{class("(size)-auto")} {
            max-height: auto !important;
            height: 100% !important;
        }
        &#{class("(size)-viewport")} {
            max-height: 100vw;
            height: 100% !important;
        }
		&#{class("(size)-25%")} {
            max-height: 25% !important;
            height: 100% !important;
        }
		&#{class("(size)-50%")} {
            max-height: 50% !important;
            height: 100% !important;
        }
		&#{class("(size)-75%")} {
            max-height: 75% !important;
            height: 100% !important;
        }
		&#{class("(size)-100%")} {
            max-height: 100% !important;
            height: 100% !important;
        }
		&#{class("(size)-1/3")} {
            max-height: calc(100% / 3) !important;
            height: 100% !important;
        }
		&#{class("(size)-2/3")} {
            max-height: calc((100% / 3) * 2) !important;
            height: 100% !important;
        }
	}
}

@mixin media-align-utilities($prefix: "") {
    .#{$prefix}#{class("align")} {
        &#{class("(align)-left")} { margin-right: auto !important; }
    	&#{class("(align)-right")} { margin-left: auto !important; }
    	&#{class("(align)-center")} {
    		margin-left: auto !important;
    		margin-right: auto !important;
    	}
        &#{class("(align)-auto")} { margin: auto; }
    }
}

@mixin media-margin-utilities($prefix: "") {
	.#{$prefix}#{class("margin")} {
		& { margin: spacer($margin-base) !important; }
		&#{class("(spacer)-right")} { margin-top: spacer($margin-base) !important; }
		&#{class("(spacer)-right")} { margin-right: spacer($margin-base) !important; }
		&#{class("(spacer)-bottom")} { margin-bottom: spacer($margin-base) !important; }
		&#{class("(spacer)-left")} { margin-left: spacer($margin-base) !important; }
		&#{class("(spacer)-y-axis")} {
			margin-top: spacer($margin-base) !important;
			margin-bottom: spacer($margin-base) !important;
		}
		&#{class("(spacer)-x-axis")} {
			margin-left: spacer($margin-base) !important;
			margin-right: spacer($margin-base) !important;
		}

		&#{class("(spacer)-0")} { margin: 0 !important; }
		&#{class("(spacer)-right")}#{class("(spacer)-0")} { margin-top: 0 !important; }
		&#{class("(spacer)-right")}#{class("(spacer)-0")} { margin-right: 0 !important; }
		&#{class("(spacer)-bottom")}#{class("(spacer)-0")} { margin-bottom: 0 !important; }
		&#{class("(spacer)-left")}#{class("(spacer)-0")} { margin-left: 0 !important; }
		&#{class("(spacer)-y-axis")}#{class("(spacer)-0")} {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		&#{class("(spacer)-x-axis")}#{class("(spacer)-0")} {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		&#{class("(spacer)-auto")} { margin: auto !important; }
		&#{class("(spacer)-top")}#{class("(spacer)-auto")}{ margin-top: auto !important; }
		&#{class("(spacer)-right")}#{class("(spacer)-auto")} { margin-right: auto !important; }
		&#{class("(spacer)-bottom")}-#{class("(spacer)-auto")} { margin-bottom: auto !important; }
		&#{class("(spacer)-left")}#{class("(spacer)-auto")} { margin-left: auto !important; }
		&#{class("(spacer)-y-axis")}#{class("(spacer)-auto")} {
			margin-top: auto !important;
			margin-bottom: auto !important;
		}
		&#{class("(spacer)-x-axis")}-#{class("(spacer)-auto")} {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		@each $name, $spacer in $spacers {
			&-#{$name} { margin: spacer($name) !important; }
			&#{class("(spacer)-right")}-#{$name} { margin-top: spacer($name) !important; }
			&#{class("(spacer)-right")}-#{$name} { margin-right: spacer($name) !important; }
			&#{class("(spacer)-bottom")}-#{$name} { margin-bottom: spacer($name) !important; }
			&#{class("(spacer)-left")}-#{$name} { margin-left: spacer($name) !important; }
			&#{class("(spacer)-y-axis")}-#{$name} {
				margin-top: spacer($name) !important;
				margin-bottom: spacer($name) !important;
			}
			&#{class("(spacer)-x-axis")}-#{$name} {
				margin-left: spacer($name) !important;
				margin-right: spacer($name) !important;
			}
		}
	}
}

@mixin media-padding-utilities($prefix: "") {
	.#{$prefix}#{class("padding")} {
		& { padding: spacer($margin-base) !important; }
		&#{class("(spacer)-right")} { padding-top: spacer($margin-base) !important; }
		&#{class("(spacer)-right")} { padding-right: spacer($margin-base) !important; }
		&#{class("(spacer)-bottom")} { padding-bottom: spacer($margin-base) !important; }
		&#{class("(spacer)-left")} { padding-left: spacer($margin-base) !important; }
		&#{class("(spacer)-y-axis")} {
			padding-top: spacer($margin-base) !important;
			padding-bottom: spacer($margin-base) !important;
		}
		&#{class("(spacer)-x-axis")} {
			padding-left: spacer($margin-base) !important;
			padding-right: spacer($margin-base) !important;
		}

		&#{class("(spacer)-0")} { padding: 0 !important; }
		&#{class("(spacer)-right")}#{class("(spacer)-0")} { padding-top: 0 !important; }
		&#{class("(spacer)-right")}#{class("(spacer)-0")} { padding-right: 0 !important; }
		&#{class("(spacer)-bottom")}#{class("(spacer)-0")} { padding-bottom: 0 !important; }
		&#{class("(spacer)-left")}#{class("(spacer)-0")} { padding-left: 0 !important; }
		&#{class("(spacer)-y-axis")}#{class("(spacer)-0")} {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		&#{class("(spacer)-x-axis")}#{class("(spacer)-0")} {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		@each $name, $spacer in $spacers {
			&-#{$name} { padding: spacer($name) !important; }
			&#{class("(spacer)-right")}-#{$name} { padding-top: spacer($name) !important; }
			&#{class("(spacer)-right")}-#{$name} { padding-right: spacer($name) !important; }
			&#{class("(spacer)-bottom")}-#{$name} { padding-bottom: spacer($name) !important; }
			&#{class("(spacer)-left")}-#{$name} { padding-left: spacer($name) !important; }
			&#{class("(spacer)-y-axis")}-#{$name} {
				padding-top: spacer($name) !important;
				padding-bottom: spacer($name) !important;
			}
			&#{class("(spacer)-x-axis")}-#{$name} {
				padding-left: spacer($name) !important;
				padding-right: spacer($name) !important;
			}
		}
	}
}

@mixin media-visibility-utilities($prefix: "") {
	.#{$prefix}#{class("visible")} { visibility: visible !important; }
	.#{$prefix}#{class("hidden")} { visibility: hidden !important; }
}

@mixin media-order-utilities($prefix: "") {
	.#{$prefix}#{class("item-first")} { order: -1 !important; }
	.#{$prefix}#{class("item-last")} { order: 1 !important; }
}

@include option("utilities") {
    .#{class("text")} {
    	&#{class("(text)-normal")} {
    		font-style: normal !important;
    		font-weight: normal !important;
    		text-decoration: none !important;
    		text-transform: none !important;
            font-size: 1em !important;
    	}

    	&#{class("(text)-left")} { text-align: left !important; }
    	&#{class("(text)-center")} { text-align: center !important; }
    	&#{class("(text)-right")} { text-align: right !important; }
    	&#{class("(text)-justify")} { text-align: justify !important; }

    	&#{class("(text)-wrap")} {
    		white-space: wrap !important;
    		word-break: break-all !important;
    	}
    	&#{class("(text)-nowrap")} { white-space: nowrap !important; }
    	&#{class("(text)-truncate")} {
    		overflow: hidden !important;
    		text-overflow: ellipsis !important;
    		white-space: nowrap !important;
    	}

    	&#{class("(text)-capitalize")} { text-transform: capitalize !important; }
    	&#{class("(text)-uppercase")} { text-transform: uppercase !important; }
    	&#{class("(text)-lowercase")} { text-transform: lowercase !important; }

    	&#{class("(text)-italic")} { font-style: italic !important; }

    	&#{class("(text)-underline")} { text-decoration: underline !important; }

    	@each $name, $weight in $font-weights {
    		&#{class("(text)-weight")}-#{$name} { font-weight: $weight !important; }
    	}
    }

    ol,
    ul {
    	&.#{class("unstyled")} {
    		list-style: none;
    		padding-left: 0;
    	}
    }

    .#{class("floatbox")}::after {
    	content: "" !important;
    	display: block !important;
    	clear: both !important;
    }

    .#{class("float-left")} { float: left !important; }
    img.#{class("float-left")} { margin-right: spacer($margin-base) !important; }

    .#{class("float-right")} { float: right !important; }
    img.#{class("float-right")} { margin-left: spacer($margin-base) !important; }

    img.#{class("float-left")},
    img.#{class("float-right")} {
    	margin-bottom: spacer($margin-base) !important;
    }

    .#{class("clear")} { clear: both !important; }
    .#{class("clear-left")} { clear: left !important; }
    .#{class("clear-right")} { clear: right !important; }

    // https://developer.mozilla.org/fr/docs/Web/CSS/Block_formatting_context
    .#{class("block-formatting-context")} { overflow: hidden !important; }

    .#{class("visually-hidden")} {
    	position: absolute !important;
    	border: 0 !important;
    	height: 1px !important;
    	width: 1px !important;
    	padding: 0 !important;
    	overflow: hidden !important;
    	clip: rect(0, 0, 0, 0) !important;
    }

    @include media-border-utilities();
    @include media-color-utilities();
    @include media-size-utilities();
    @include media-display-utilities();
    @include media-align-utilities();
    @include media-margin-utilities();
    @include media-padding-utilities();
    @include media-visibility-utilities();
    @include media-order-utilities();
}
