input[type="checkbox"],
input[type="radio"] {
	height: $checkbox-size;
	width: $checkbox-size;
    margin: spacer('tiny-plus') spacer('medium');
	vertical-align: middle;
	position: relative;

    @include transition("background, border");

	@include active {
		background-color: $checkbox-active-background;
	}

	&:checked, &:indeterminate {
		background-color: $checkbox-checked-background;
		border-color: $checkbox-checked-background;
	}

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
		background: $checkbox-checked-icon-color;
		border-radius: 1px;
    }

	&[disabled] {
		border-color: $checkbox-disabled-border-color;
		background-color: $checkbox-disabled-background;

		@include hover-focus { border-color: $checkbox-disabled-border-color; }

        &::before, &::after {
    		background: $checkbox-disabled-background;
        }

		&:checked, &:indeterminate {
			background-color: $checkbox-disabled-border-color;
		}
	}

}

input[type="checkbox"] {
    &::before {
        top: 63%; left: 30%;
    	transform: translate(-50%, -50%) rotate(50deg);
        width: 40%;
        height: 10%;
    }

    &::after {
        top: 52%; left: 62%;
    	transform: translate(-50%, -50%) rotate(-50deg);
        width: 70%;
        height: 10%;
    }
}

input[type="radio"] {
	border-radius: 50%;

	&::after {
		top: 50%; left: 50%;
		transform: translate(-50%, -50%) scale(.4);
		width: 100%;
		height: 100%;
        border-radius: 50%;
	}
}

input[type="checkbox"],
input[type="radio"] {
    &:indeterminate {
        &::before {
    		top: 50%; left: 50%;
    		transform: translate(-50%, -50%);
    		width: 40%;
    		height: 2px;
        }
        &::after {
            display: none;
        }
    }
}
