input[type="range"] {
	cursor: pointer;
	appearance: none;
    border: 0;

    @include focus {
        outline: none;
    }

	&[disabled] {
		background: none;
		cursor: not-allowed;

		&::-moz-range-track { background: $range-track-disabled-color; }
		&::-moz-range-thumb {
			border-color: $range-track-disabled-color;

            @include transition("background");
			@include hover-focus { background: $range-thumb-color; }
		}

		&::-webkit-slider-runnable-track { background: $range-track-disabled-color; }
		&::-webkit-slider-thumb {
			border-color: $range-track-disabled-color;

            @include transition("background");
			@include hover-focus { background: $range-thumb-color; }
		}

		&::-ms-fill-lower, &::-ms-fill-upper { background: $range-track-disabled-color; }
		&::-ms-thumb {
			border-color: $range-track-disabled-color;

            @include transition("background");
			@include hover-focus { background: $range-thumb-color; }
		}
	}

	&::-moz-range-track {
		width: 100%;
		height: 2px;
		background: $range-track-color;
	}
	&::-moz-range-thumb {
		border: 2px solid $range-track-color;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		background: $range-thumb-color;

        @include transition("background");
		@include hover-focus { background: darken( $range-thumb-color , 10% ); }
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		background: $range-track-color;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		border: 2px solid $range-track-color;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		background: $range-thumb-color;
		margin-top: -7px;

        @include transition("background");
		@include hover-focus { background: darken( $range-thumb-color , 10% ); }
	}

	&::-ms-track {
		width: 100%;
		height: 17px;
		background: transparent;
	}
	&::-ms-fill-lower, &::-ms-fill-upper {
		height: 2px;
		background: $range-track-color;
	}
	&::-ms-thumb {
		border: 2px solid $range-track-color;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		background: $range-thumb-color;
		margin-top: 0;

        @include transition("background");
		@include hover-focus { background: darken( $range-thumb-color , 10% ); }
	}
}
