// ========================
// ==== Form component ====
// ========================

// Automatically style html checkbox form elements

@include option("form") {

@include theme-vars(
    (--checkbox-checked-background, $checkbox-checked-background, $checkbox-checked-background-dark),
    (--checkbox-checked-icon-color, $checkbox-checked-icon-color, $checkbox-checked-icon-color-dark),
    (--checkbox-focus-outline-color, $checkbox-focus-outline-color, $checkbox-focus-outline-color-dark),
    (--checkbox-checked-icon, $checkbox-checked-icon, $checkbox-checked-icon-dark),
    (--radio-checked-icon, $radio-checked-icon, $radio-checked-icon-dark),
    (--checkbox-indeterminate-icon, $checkbox-indeterminate-icon, $checkbox-indeterminate-icon-dark)
);

// Checkbox and radio styles
// =========================
[type="checkbox"],
[type="radio"]
{
	height: $checkbox-size;
	width: $checkbox-size;
    margin: spacer('tiny-plus') spacer('medium');
    @include border-radius($checkbox-border-radius);

    background-repeat: no-repeat;

    outline: $checkbox-focus-outline-size solid transparentize(#000, 1);
    outline-offset: $checkbox-focus-outline-offset;

    @include transition('background, border, outline-color');

    // Interactive states and behaviors
    // ================================

    &:checked, &:indeterminate {
        --input-border-color: var(--checkbox-checked-background);
        --input-hover-border-color: var(--checkbox-checked-background);

        background-color: var(--checkbox-checked-background);
    }

    &:focus {
        outline-color: var(--checkbox-focus-outline-color);
    }

}

// Specific styles
// ===============

[type="checkbox"] {
    background-image: var(--checkbox-checked-icon);
}

[type="radio"] {
	border-radius: 50%;
    background-image: var(--radio-checked-icon);
}

[type="checkbox"],
[type="radio"] {
    &:indeterminate {
        background-image: var(--checkbox-indeterminate-icon);
    }
}

}
