// ========================
// ==== Form component ====
// ========================

// Automatically style html checkbox form elements

@include option("form") {

@include theme-vars(
    (--checkbox-checked-background, $checkbox-checked-background, $checkbox-checked-background-dark),
    (--checkbox-checked-icon-color, $checkbox-checked-icon-color, $checkbox-checked-icon-color-dark),
    (--checkbox-focus-outline-color, $checkbox-focus-outline-color, $checkbox-focus-outline-color-dark),
    (--checkbox-checked-icon, $checkbox-checked-icon, $checkbox-checked-icon-dark),
    (--radio-checked-icon, $radio-checked-icon, $radio-checked-icon-dark),
    (--checkbox-indeterminate-icon, $checkbox-indeterminate-icon, $checkbox-indeterminate-icon-dark)
);

// Checkbox and radio styles
// =========================
[type="checkbox"],
[type="radio"]
{
    position: relative;
    z-index: 1;
	height: $checkbox-size;
	width: $checkbox-size;
    margin: spacer('tiny-plus') spacer('medium');
    @include border-radius($checkbox-border-radius);

    // Used to get smooth transitions with :hover, :focus, :checked and :indeterminate by using opacity transitions - common style of both
    &::after,
    &::before {
        @extend %magic-pseudo-element;

        @include transition("opacity");
    }

    // Used to get smooth transitions with :hover
    &::after {
		background-color: var(--checkbox-checked-background);
    }

    // Used to get smooth transitions with :focus
    &::before {
        outline: $checkbox-focus-outline-size solid var(--checkbox-focus-outline-color);
        outline-offset: if($checkbox-focus-outline-offset != 0, $checkbox-focus-outline-offset + 1, $checkbox-focus-outline-offset);
    }

    // Interactive states and behaviors
    // ================================

    &:checked, &:indeterminate {
        --input-border-color: var(--checkbox-checked-background);
        --input-hover-border-color: var(--checkbox-checked-background);

        &::after {
            opacity: 1;
            border: 1px solid var(--checkbox-checked-background);
        }
    }

    &:focus::before {
        opacity: 1;
    }

}

// Specific styles
// ===============

[type="checkbox"]::after {
    background-image: var(--checkbox-checked-icon);
    border-radius: $checkbox-border-radius - 1;
}

[type="radio"] {
	border-radius: 50%;

	&::after {
		background-image: var(--radio-checked-icon);
        border-radius: 40%;
	}
}

[type="checkbox"],
[type="radio"] {
    &:indeterminate::after {
        background-image: var(--checkbox-indeterminate-icon);
    }
}

}
