@include option("form") {

input[type="checkbox"],
input[type="radio"] {
	height: $checkbox-size;
	width: $checkbox-size;
    margin: spacer('tiny-plus') spacer('medium');
    @include border-radius($checkbox-border-radius);
	vertical-align: middle;
	position: relative;

    @include transition("background, border");

	&:active {
		background: var(--checkbox-active-background);
	}

	&:checked, &:indeterminate {
		background: var(--checkbox-checked-background);
		border-color: var(--checkbox-checked-background);
        &::before, &::after {
            opacity: 1;
        }
	}

    &::before, &::after {
        opacity: 0;
        content: "";
        display: block;
        position: absolute;
		background: var(--checkbox-checked-icon-color);
		border-radius: 1px;
    }

	&[disabled] {
		border-color: var(--checkbox-disabled-border-color);
		background: var(--checkbox-disabled-background);

		&:hover, &:focus { border-color: var(--checkbox-disabled-border-color); }

        &::before, &::after {
    		background: var(--checkbox-disabled-background);
        }

		&:checked, &:indeterminate {
			background: var(--checkbox-disabled-border-color);
		}
	}

}

input[type="checkbox"] {
    &::before {
        top: 63%; left: 30%;
    	transform: translate(-50%, -50%) rotate(50deg);
        width: 40%;
        height: 10%;
    }

    &::after {
        top: 52%; left: 62%;
    	transform: translate(-50%, -50%) rotate(-50deg);
        width: 70%;
        height: 10%;
    }
}

input[type="radio"] {
	border-radius: 50%;

	&::after {
		top: 50%; left: 50%;
		transform: translate(-50%, -50%) scale(.4);
		width: 100%;
		height: 100%;
        border-radius: 50%;
	}
}

input[type="checkbox"],
input[type="radio"] {
    &:indeterminate {
        &::before {
    		top: 50%; left: 50%;
    		transform: translate(-50%, -50%);
    		width: 40%;
    		height: 2px;
        }
        &::after {
            display: none;
        }
    }
}

}
