// ========================
// ==== Form component ====
// ========================

// Form layout component

@include option("form", "form-layout") {

@include theme-vars(
    (--form-help-color, $form-help-color, $form-help-color-dark)
);

.#{class("Form")} {
    display: flex;
    flex-direction: column;
    gap: $form-gap;

    max-width: $form-width;
    margin: auto;

    &-#{class("(Form)-title")} {
        margin: 0;
        text-align: $form-title-text-align;
    }

    &-#{class("(Form)-inputWrapper")} {
        display: flex;
        flex-direction: column;
        gap: $form-input-wrapper-gap;
    }

    &-#{class("(Form)-checkWrapper")} {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $form-check-wrapper-gap;
    }

    &-#{class("(Form)-buttonWrapper")} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: $form-button-wrapper-gap;
    }

    &-#{class("(Form)-label")} {
        margin: 0;

        &.#{class("(Form-label)--required")}::before {
            color: $label-required-indicator-color;
            content: $label-required-indicator + " ";
        }
    }

    &-#{class("(Form)-input")},
    &-#{class("(Form)-textarea")} {
        width: 100%;
    }

    &-#{class("(Form)-help")} {
        margin: 0;
        text-align: $form-help-text-align;
        font-size: $form-help-font-size;
        color: var(--form-help-color);
    }
}

}
