@include option("forms") {

input,
textarea,
select {
	appearance: none;
	border: $input-border-width solid var(--input-border-color);
	border-radius: $border-radius-base;
	padding: $input-padding-vertical $input-padding-horizontal;
	box-shadow: none;
	background: var(--input-background);
	outline: none;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    margin-left: spacer('medium');
    margin-bottom: spacer('medium');
    filter: none;
    color: var(--color);

    @include transition("border");
	&:hover, &:focus { border-color: var(--input-hover-focus-border-color); }

    &:invalid:focus {
        border-color: $input-border-color-invalid;
    }

	&[disabled] {
		cursor: not-allowed;
		border-color: var(--input-border-color);
		background: var(--input-disabled-background);

		&:hover, &:focus { border-color: var(--input-border-color); }
	}
}

input {
	&[type="date"],
	&[type="time"],
	&[type="color"],
	&[type="file"],
	&[type="checkbox"],
	&[type="radio"] {
		cursor: pointer;

		&[disabled] { cursor: not-allowed; }
	}

	&[type="file"] {
		border: none;
        background: transparent;
	}

	&[type="color"] {
		height: $input-color-height;
		padding: $input-color-padding;
	}

    &[type="submit"] {
        margin-left: 0;
    }
}

textarea {
	min-height: calc(#{$font-size-base} + #{$input-padding-vertical} * 2);
    transition-property: border;
    vertical-align: initial;
}

}
