// ========================
// ==== Form component ====
// ========================

// Automatically style html progress form elements

@include option("form") {

// Progress and meter styles
// =========================
meter,
progress
{
    --progress-background: #{$progress-background};

    @include option("dark-theme") {
        @media (prefers-color-scheme: dark) {
            --progress-background: #{$progress-background-dark};
        }
    }

	background: var(--progress-background);
	border: none;
	height: $progress-height;
	@include border-radius($progress-border-radius);

    @include transition("all");
}

::-webkit-progress-bar,
::-webkit-meter-bar {
	background: var(--progress-background);
	border: none;
	height: $progress-height;
	@include border-radius($progress-border-radius);
}

// Progress styles
// ===============
::-webkit-progress-value {
	background: $progress-bar-background;
	@include border-radius($progress-border-radius);
}

::-moz-progress-bar {
	background: $progress-bar-background;
	@include border-radius($progress-border-radius);
}

progress:indeterminate {
	@if $progress-indeterminate-animation {
		animation-duration: $progress-indeterminate-animation-duration;
		animation-name: progress;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	&::-moz-progress-bar { width: 0; }
}

@keyframes progress {
	to { background: darken( $progress-background , 5% ); }
}

// Meter styles
// ============
:-moz-meter-optimum::-moz-meter-bar,
:-moz-meter-sub-optimum::-moz-meter-bar,
:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    @include border-radius($progress-border-radius);
}

::-webkit-meter-optimum-value,
::-webkit-meter-suboptimum-value,
::-webkit-meter-even-less-good-value {
    @include border-radius($progress-border-radius);
}

:-moz-meter-optimum::-moz-meter-bar { background: $meter-optimum-background; }
meter::-webkit-meter-optimum-value { background: $meter-optimum-background; }

:-moz-meter-sub-optimum::-moz-meter-bar { background: $meter-sub-optimum-background; }
meter::-webkit-meter-suboptimum-value { background: $meter-sub-optimum-background; }

:-moz-meter-sub-sub-optimum::-moz-meter-bar { background: $meter-sub-sub-optimum-background; }
meter::-webkit-meter-even-less-good-value { background: $meter-sub-sub-optimum-background; }

}
