@use "sass:math";

// ========================
// ==== Form component ====
// ========================

// Automatically style html range form elements

// Helpers mixins
// ==============

@mixin range-track {
	&::-moz-range-track, &::-moz-range-progress {
        @content;
    }
    &::-webkit-slider-runnable-track {
        @content;
    }
    &::-ms-fill-upper, &::-ms-fill-lower {
        @content;
    }
}

@mixin range-thumb {
	&::-moz-range-thumb {
        @content;
    }
    &::-webkit-slider-thumb {
        @content;
    }
    &::-ms-thumb {
        @content;
    }
}

@mixin range-progress {
    &::-moz-range-progress {
        @content;
    }
    &::-webkit-slider-runnable-track { // As Webkit doesn't support range-progress, use range-track instead
        @content;
    }
    &::-ms-fill-lower {
        @content;
    }
}

@include option("form") {

@include theme-vars(
    (--range-track-color, $range-track-color, $range-track-color-dark),
    (--range-progress-color, $range-progress-color, $range-progress-color-dark),
    (--range-thumb-color, $range-thumb-color, $range-thumb-color-dark),
    (--range-thumb-border-color, $range-thumb-border-color, $range-thumb-border-color-dark),
    (--range-thumb-hover-color, $range-thumb-hover-color, $range-thumb-hover-color-dark),
    (--range-thumb-focus-outline-color, $range-thumb-focus-outline-color, $range-thumb-focus-outline-color-dark),
);

// Range styles
// ============
[type="range"] {
    padding: 0;
    // Remove default input styling
    background: none;
    border: none;

	&[disabled] {
        --range-thumb-hover-color: var(--range-thumb-color);
	}

    @include range-track {
        width: 100%;
		height: $range-track-height;
		background: var(--range-track-color);
        border-radius: $range-track-border-radius;
    }

    @include range-thumb {
		appearance: none;
		height: $range-thumb-size;
		width: $range-thumb-size;
		border-radius: 50%;
		background: var(--range-thumb-color);
        border: 1px solid var(--range-thumb-border-color);

        outline: $range-thumb-focus-outline-size solid transparentize(#000, 1);
        outline-offset: $range-thumb-focus-outline-offset;

        @include transition("background, border, outline-color");

		&:hover {
            background: var(--range-thumb-hover-color);
        }
    }

    &:focus {
        @include range-thumb {
            outline-color: var(--range-thumb-focus-outline-color);
        }
    }

    @include range-progress {
        background-color: var(--range-progress-color);
    }

    // Navigator specific styles
    // =========================

    // Fix webkit thumb misalignment
	&::-webkit-slider-thumb {
		margin-top: -#{math.div($range-thumb-size, 2)};
	}
    // Fix webkit range input size
    &::-webkit-slider-runnable-track {
        margin: var(--input-padding);
    }

	&::-ms-track {
		width: 100%;
		height: 17px;
		background: transparent;
	}
	&::-ms-thumb {
		margin-top: 0;
	}
}

}
