// ========================
// ==== Form component ====
// ========================

// Helpers mixins
// ==============

@mixin range-track {
	&::-moz-range-track {
        @content;
    }
    &::-webkit-slider-runnable-track {
        @content;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
        @content;
    }
}

@mixin range-thumb {
	&::-moz-range-thumb {
        @content;
    }
    &::-webkit-slider-thumb {
        @content;
    }
    &::-ms-thumb {
        @content;
    }
}

@include option("form") {

// Range styles
// ============
[type="range"] {
    --range-track-color: #{$range-track-color};
    --range-thumb-color: #{$range-thumb-color};
    --range-thumb-hover-color: #{$range-thumb-hover-color};

    @include option("dark-theme") {
        @media (prefers-color-scheme: dark) {
            --range-track-color: #{$range-track-color-dark};
            --range-thumb-color: #{$range-thumb-color-dark};
            --range-thumb-hover-color: #{$range-thumb-hover-color-dark};
        }
    }

	&[disabled] {
        --range-thumb-hover-color: var(--range-thumb-color);
	}

    @include range-track {
        width: 100%;
		height: 1px;
		background: var(--range-track-color);
    }

    @include range-thumb {
		appearance: none;
		height: $range-thumb-size;
		width: $range-thumb-size;
		border-radius: 50%;
		background: var(--range-thumb-color);
        border: 1px solid var(--range-track-color);

        @include transition("background, box-shadow");

		&:hover {
            background: var(--range-thumb-hover-color);
        }
    }

    // Navigator specific styles
    // =========================

    // Fix webkit thumb misalignment
	&::-webkit-slider-thumb {
		margin-top: - ($range-thumb-size / 2) + 1px;
	}
    // Fix webkit range input size
    &::-webkit-slider-runnable-track {
        margin: var(--input-padding);
    }

	&::-ms-track {
		width: 100%;
		height: 17px;
		background: transparent;
	}
	&::-ms-thumb {
		margin-top: 0;
	}
}

}
