// ========================
// ==== Form component ====
// ========================

@include option("form") {

// Select styles
// =============
select {
    --select-icon: #{escape-svg(url("data:image/svg+xml,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='m5 8 5 5 5-5' fill='none' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/></svg>"))};

    @include option("dark-theme") {
        @media (prefers-color-scheme: dark) {
            --select-icon: #{escape-svg(url("data:image/svg+xml,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='m5 8 5 5 5-5' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/></svg>"))};
        }
    }

    &:not([multiple]) {
        padding-right: 2.5rem;
        background-position: right 1rem center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: var(--select-icon);
    }

	&[multiple] {
        resize: vertical;
        scrollbar-width: initial;
        scrollbar-color: initial;

		option {
			padding: $select-option-padding;
			border-top: $input-border-width solid var(--input-border-color);

			&:first-child {
				border: none;
			}
		}
	}
}

}
