// ========================
// ==== Form component ====
// ========================

// Automatically style html select form elements

@include option("form") {

@include theme-vars(
    (--select-icon, $select-icon, $select-icon-dark)
);

// Select styles
// =============
select {
    &:not([multiple]) {
        padding-right: 38px;
        background-position: right $spacer-base center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: var(--select-icon);
    }

	&[multiple] {
        resize: vertical;
        scrollbar-width: initial;
        scrollbar-color: initial;

		option {
			padding: $select-option-padding;
			border-top: $input-border-width solid var(--input-border-color);

			&:first-child {
				border: none;
			}
		}
	}
}

}
