// ==============================
// ==== Flex utilities class ====
// ==============================

@mixin media-flex($prefix: "") {
    .#{$prefix}#{class("Flex-direction")} {
		&-#{class("(Flex)-row")} { flex-direction: row !important; }
		&-#{class("(Flex)-row-reverse")} { flex-direction: row-reverse !important; }
		&-#{class("(Flex)-column")} { flex-direction: column !important; }
		&-#{class("(Flex)-column-reverse")} { flex-direction: column-reverse !important; }
	}

	.#{$prefix}#{class("Flex-wrap")} {
		flex-wrap: wrap !important;
	}
    .#{$prefix}#{class("Flex-wrap-reverse")} {
        flex-wrap: wrap-reverse !important;
    }
	.#{$prefix}#{class("Flex-nowrap")} {
		flex-wrap: nowrap !important;
	}

	.#{$prefix}#{class("Flex-justify-content")}  {
		&-#{class("(Flex)-start")} { justify-content: flex-start !important; }
		&-#{class("(Flex)-end")} { justify-content: end !important; }
		&-#{class("(Flex)-center")} { justify-content: center !important; }
		&-#{class("(Flex)-between")} { justify-content: space-between !important; }
		&-#{class("(Flex)-around")} { justify-content: space-around !important; }
	}
	.#{$prefix}#{class("Flex-align-items")}  {
		&-#{class("(Flex)-start")} { align-items: flex-start !important; }
		&-#{class("(Flex)-end")} { align-items: end !important; }
		&-#{class("(Flex)-center")} { align-items: center !important; }
		&-#{class("(Flex)-baseline")} { align-items: baseline !important; }
		&-#{class("(Flex)-stretch")} { align-items: stretch !important; }
	}
	.#{$prefix}#{class("Flex-align-content")}  {
		&-#{class("(Flex)-start")} { align-content: flex-start !important; }
		&-#{class("(Flex)-end")} { align-content: end !important; }
		&-#{class("(Flex)-center")} { align-content: center !important; }
		&-#{class("(Flex)-baseline")} { align-content: baseline !important; }
		&-#{class("(Flex)-stretch")} { align-content: stretch !important; }
	}

	.#{$prefix}#{class("Flex-align-self")}  {
		&-#{class("(Flex)-start")} { align-self: flex-start !important; }
		&-#{class("(Flex)-end")} { align-self: end !important; }
		&-#{class("(Flex)-center")} { align-self: center !important; }
		&-#{class("(Flex)-baseline")} { align-self: baseline !important; }
		&-#{class("(Flex)-stretch")} { align-self: stretch !important; }
	}
}
