// ===============================
// ==== Order utilities class ====
// ===============================

@mixin media-padding-utilities($prefix: "") {
	.#{$prefix}#{class("padding")} {
        // Base padding
		& {
            padding: spacer($margin-base) !important;
        }
		&#{class("(spacer)-top")} {
            padding-top: spacer($margin-base) !important;
        }
		&#{class("(spacer)-right")} {
            padding-right: spacer($margin-base) !important;
        }
		&#{class("(spacer)-bottom")} {
            padding-bottom: spacer($margin-base) !important;
        }
		&#{class("(spacer)-left")} {
            padding-left: spacer($margin-base) !important;
        }
		&#{class("(spacer)-y-axis")} {
			padding-top: spacer($margin-base) !important;
			padding-bottom: spacer($margin-base) !important;
		}
		&#{class("(spacer)-x-axis")} {
			padding-left: spacer($margin-base) !important;
			padding-right: spacer($margin-base) !important;
		}

        // Padding 0
		&-#{class("(spacer)-0")} {
            padding: 0 !important;
        }
		&#{class("(spacer)-top")}-#{class("(spacer)-0")} {
            padding-top: 0 !important;
        }
		&#{class("(spacer)-right")}-#{class("(spacer)-0")} {
            padding-right: 0 !important;
        }
		&#{class("(spacer)-bottom")}-#{class("(spacer)-0")} {
            padding-bottom: 0 !important;
        }
		&#{class("(spacer)-left")}-#{class("(spacer)-0")} {
            padding-left: 0 !important;
        }
		&#{class("(spacer)-y-axis")}-#{class("(spacer)-0")} {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		&#{class("(spacer)-x-axis")}-#{class("(spacer)-0")} {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

        // Named paddings
		@each $name, $spacer in $spacers {
			&-#{$name} {
                padding: spacer($name) !important;
            }
			&#{class("(spacer)-top")}-#{$name} {
                padding-top: spacer($name) !important;
            }
			&#{class("(spacer)-right")}-#{$name} {
                padding-right: spacer($name) !important;
            }
			&#{class("(spacer)-bottom")}-#{$name} {
                padding-bottom: spacer($name) !important;
            }
			&#{class("(spacer)-left")}-#{$name} {
                padding-left: spacer($name) !important;
            }
			&#{class("(spacer)-y-axis")}-#{$name} {
				padding-top: spacer($name) !important;
				padding-bottom: spacer($name) !important;
			}
			&#{class("(spacer)-x-axis")}-#{$name} {
				padding-left: spacer($name) !important;
				padding-right: spacer($name) !important;
			}
		}
	}
}
