@include option("alerts") {

[class*="Alert"] {
	padding: $alerts-padding;
	border: $alerts-border-width solid var(--components-background);
	border-left-width: $alerts-border-left-width;
	border-radius: $alerts-border-radius;
	margin-bottom: $alerts-margin-bottom;
    background-color: var(--alerts-background);
	color: var(--color);

    &[class*="-inversed"] {
        border: $alerts-border-width solid var(--components-background-inversed);
    	color: var(--components-color);
    }

	@each $component, $bg in $components {
		&[class*="-#{$component}"] {
			border-color: $bg;
            background: transparentize($bg, $alerts-background-transparency);
		}
	}

	#{$headings} {
		font-size: $alerts-title-font-size;
	}
}

}
