@include option("blockquotes") {

[class*="Blockquote"],  [class*="Afb"] blockquote,{
	padding: $blockquote-padding;
	background: var(--blockquote-background);
    color: var(--blockquote-color);
	border-radius: $blockquote-border-radius;
	position: relative;
	padding-left: 80px;
    margin-top: $blockquote-margin-top;
    margin-bottom: $blockquote-margin-bottom;

	&:before {
		content: "\201C";
		position: absolute;
		left: 15px;
		top: 15px;
		font-family: georgia, serif;
		font-size: 7em;
		line-height: .9;
		color: var(--blockquote-quote-color);
	}

	> *:last-child {
		margin-bottom: 0;
	}

	cite {
		display: block;
		color: var(--blockquote-cite-color);
		text-align: $blockquote-cite-text-align;

		&:before {
			content: "- ";
		}
	}
}

}
