@include option("blockquotes") {

[class*="Blockquote"],  [class*="Afb"] blockquote,{
	padding: $blockquotes-padding;
	background-color: $blockquotes-background;
	border-radius: $blockquotes-border-radius;
	position: relative;
	padding-left: 80px;
    margin-top: $blockquotes-margin-top;
    margin-bottom: $blockquotes-margin-bottom;

	&:before {
		content: "\201C";
		position: absolute;
		left: 15px;
		top: 15px;
		font-family: georgia, serif;
		font-size: 7em;
		line-height: .9;
		color: $blockquotes-quote-color;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	cite {
		display: block;
		color: $blockquotes-cite-color;
		text-align: $blockquotes-cite-text-align;

		&:before {
			content: "- ";
		}
	}
}

}
