// ==============================
// ==== Blockquote component ====
// ==============================

// Create a Blockquote by adding the .Blockquote class or add the .Afb class to the parent of a blockquote html tag

@include option("blockquote") {

@include theme-vars(
    (--blockquote-background, $blockquote-background, $blockquote-background-dark),
    (--blockquote-color, $blockquote-color, $blockquote-color-dark),
    (--blockquote-cite-color, $blockquote-cite-color, $blockquote-cite-color-dark),
    (--blockquote-quote-color, $blockquote-quote-color, $blockquote-quote-color-dark)
);

.#{class("Blockquote")},
.#{class("Auto-formating-block")} blockquote
{
    position: relative;
	padding: $blockquote-padding;
    margin-top: $blockquote-margin-top;
    margin-bottom: $blockquote-margin-bottom;
	@include border-radius($blockquote-border-radius);
	background: var(--blockquote-background);
    color: var(--blockquote-color);

    // Add an extra quote (") in the top-left corner
    @include option("blockquote-quote") {
        padding-left: 80px;

    	&:before {
    		content: "\201C";
    		position: absolute;
    		left: 15px;
    		top: 15px;
    		font-family: georgia, serif;
    		font-size: 7em;
    		line-height: .9;
    		color: var(--blockquote-quote-color);
    	}
    }

    // Using a more specific selector instead of a class because of the Auto-formating-block
	> cite {
		display: block;
		color: var(--blockquote-cite-color);
		text-align: $blockquote-cite-text-align;
        margin-bottom: $blockquote-cite-margin-bottom;

		&:before {
			content: "- ";
		}
	}

    // Avoid to have an extra border at bottom and top
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}

    // Dark/Light theme variants - enabled only if dark-theme option is set to true
    // ============================================================================
    @include option("dark-theme") {

        // Dynamic inverted variant - ex: use dark scheme colors in a light environment
        @include option("components-inverted") {
        	&-#{class("(Component)-inverted")} {
                --blockquote-background: #{$blockquote-background-dark};
                --blockquote-color: #{$blockquote-color-dark};
                --blockquote-cite-color: #{$blockquote-cite-color-dark};
                --blockquote-quote-color: #{$blockquote-quote-color-dark};

                @include option("dark-theme") {
                    @media (prefers-color-scheme: dark) {
                        --blockquote-background: #{$blockquote-background};
                        --blockquote-color: #{$blockquote-color};
                        --blockquote-cite-color: #{$blockquote-cite-color};
                        --blockquote-quote-color: #{$blockquote-quote-color};
                    }
                }
            }
        }

        // Dark theme variant - always use dark scheme colors
        @include option("components-light") {
        	&-#{class("(Component)-light")} {
                --blockquote-background: #{$blockquote-background};
                --blockquote-color: #{$blockquote-color};
                --blockquote-cite-color: #{$blockquote-cite-color};
                --blockquote-quote-color: #{$blockquote-quote-color};
            }
        }

        // Light theme variant - always use light scheme colors
        @include option("components-dark") {
        	&-#{class("(Component)-dark")} {
                --blockquote-background: #{$blockquote-background-dark};
                --blockquote-color: #{$blockquote-color-dark};
                --blockquote-cite-color: #{$blockquote-cite-color-dark};
                --blockquote-quote-color: #{$blockquote-quote-color-dark};
            }
        }
    }
}

}
