@include option("buttons") {

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[class*="Button"] {
    font-size: $button-font-size;
	padding: $button-padding;
	border-radius: $button-border-radius;
    line-height: inherit;
}

[class*="Button"] {
	&[class*="--wired"] {
		box-shadow: 0 0 0 $button-border-width var(--components-background) inset;
	}

	&[class*="--large"] {
		padding: $button-padding-large;
		font-size: $button-font-size-large;
	}

	&[class*="--xlarge"] {
		padding: $button-padding-extra-large;
		font-size: $button-font-size-extra-large;
	}

	&[class*="--small"] {
		padding: $button-padding-small;
		font-size: $button-font-size-small;
	}

	&[class*="--xsmall"] {
		padding: $button-padding-extra-small;
		font-size: $button-font-size-extra-small;
	}

    &[class*="--block"] {
        display: block;
        width: 100%;
    }
}

}
