@include option("button", "tag") {

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[class*="#{class("Button")}"] {
    font-size: $button-font-size;
	padding: $button-padding;
	@include border-radius($button-border-radius);
    line-height: inherit;
}

[class*="#{class("Button")}"] {
    @each $name, $properties in $button-sizes {
        &[class*="--#{$name}"] {
            padding: nth($properties, 1);
            font-size: nth($properties, 2);
        }
    }

    &[class*="#{class("(Component)--block")}"] {
        display: block;
        width: 100%;
    }
}

}
