// ========================
// ==== Card component ====
// ========================

// Create a Card by adding the .Card class

@include option("card") {

.#{class("Card")} {
    --card-border-color: #{$card-border-color};
    --card-background: #{$card-background};
    --card-background-hover: #{$card-background-hover};
    --card-subtitle-color: #{$card-subtitle-color};
    --card-focus-outline-color: #{$card-focus-outline-color};

    @include option("dark-theme") {
        @media (prefers-color-scheme: dark) {
            --card-border-color: #{$card-border-color-dark};
            --card-background: #{$card-background-dark};
            --card-background-hover: #{$card-background-hover-dark};
            --card-subtitle-color: #{$card-subtitle-color-dark};
            --card-focus-outline-color: #{$card-focus-outline-color-dark};
        }
    }

	display: flex;
    position: relative;
    z-index: 1;
	flex-direction: column;
	position: relative;
	word-wrap: break-word;
    @include border-radius($card-border-radius);
    background: var(--card-background);

    // Used to get smooth transitions with :hover and :focus by using opacity transitions - common style of both
    &::after,
    &::before {
        @extend %magic-pseudo-element;

        @include transition("opacity");
    }

    // Used to get smooth transitions with :hover
    &::after {
        background: var(--card-background-hover);
    }

    // Used to get smooth transitions with :focus
    &::before {
        box-shadow: 0 0 0 $card-focus-outline-size var(--card-focus-outline-color);
    }

    // Card children
    // =============
    &-#{class("(Card)-body")} {
        height: 100%;
    	padding: $card-body-padding;
    }

    // Should be used on an img html tag
    &-#{class("(Card)-figure")} {
        // Resize the image to fill the whole space available
    	object-fit: cover;
    	max-height: 100vh;
    }

    // Must be the child of a Card-body element
    &-#{class("(Card)-title")} {
    	font-size: $card-title-font-size;
    }

    // Must be the child of a Card-body element
    &-#{class("(Card)-subtitle")} {
    	display: block;
    	font-size: $card-subtitle-font-size;
    	color: var(--card-subtitle-color);
    }

    // Card children (body and figure) borders
    // =======================================
    > * {
        border: 0 solid var(--card-border-color);
        border-left-width: $card-border-width;
        border-right-width: $card-border-width;
    }
    > :first-child {
        @include border-radius($card-border-radius $card-border-radius 0 0);
        border-top-width: $card-border-width;
    }
    > :last-child {
        @include border-radius(0 0 $card-border-radius $card-border-radius);
        border-bottom-width: $card-border-width;
    }
    > :only-child {
        @include border-radius($card-border-radius);
        border-width: $card-border-width;
    }
}

// Interactive states and behaviors
// ================================
a.#{class("Card")} {
	cursor: pointer;
	color: var(--body-color);
    text-decoration: none;

    &:hover::after {
        opacity: 1;
    }

    &:focus {
        // Replace the outline by a box-shadow (defined in :before)
        outline: 0;

        // Show :focus box-shadow (defined in :before)
        &:not(:active)::before {
            opacity: 1;
        }
    }
}

}
