@include option("cards") {

[class*="Card"] {
	display: flex;
	flex-direction: column;
	position: relative;
	border: $card-border-width solid $card-border-color;
	border-radius: $card-border-radius;
	word-wrap: break-word;
}

[class*="Card"][class*="--link"], a[class*="Card"] {
	cursor: pointer;
	color: var(--body-color);
    text-decoration: none;

    @include transition("box-shadow");

	&:hover, &:focus {
		box-shadow: 0 0 $card-hover-box-shadow-width $card-hover-box-shadow-width $card-border-color;
        text-decoration: none;
	}
}

.card-figure {
	object-fit: cover;
	max-height: 100vh;

    &:first-child {
        border-radius: $card-border-radius $card-border-radius 0 0;
    }

    &:last-child {
        border-radius: 0 0 $card-border-radius $card-border-radius;
    }
}

.card-title {
	font-size: $card-title-font-size;
}

.card-subtitle {
	display: block;
	font-size: $card-subtitle-font-size;
	color: var(--card-subtitle-color);
}

[class*="card-body"] {
	padding: $card-body-padding;

	> *:last-child {
		margin-bottom: 0;
	}

	&[class*="--overlay"] {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: color("white");
		text-shadow: 1px 1px 2px color("black");
		overflow: hidden;

		&[class*="--scroll"] {
			overflow: scroll;
		}
	}
}

@include respond-to("tiny", "up") {
	.card-group {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		[class*="Card"] {
			border-radius: 0;
			border-radius: 0;
			border-left-width: 0;
			margin: 0;

            .card-figure {
                border-radius: 0;
            }

			&:first-child {
				border-radius: $card-border-radius 0 0 $card-border-radius;
				border-left-width: $card-border-width;

                .card-figure {
                	&:first-child {
                        border-radius: $card-border-radius 0 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 0 $card-border-radius;
                    }
                }
			}

			&:last-child {
				border-radius: 0 $card-border-radius $card-border-radius 0;

                .card-figure {
                	&:first-child {
                        border-radius: 0 $card-border-radius 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 $card-border-radius 0;
                    }
                }
			}
		}
	}
}

.card-group--column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	[class*="Card"] {
		border-radius: 0;
		border-radius: 0;
		border-bottom-width: 0;
		margin: 0;

        .card-figure {
            border-radius: 0;
        }

		&:first-child {
			border-radius: $card-border-radius $card-border-radius 0 0;

            .card-figure:first-child
                border-radius: $card-border-radius $card-border-radius 0 0;
            }
		}

		&:last-child {
			border-radius: 0 0 $card-border-radius $card-border-radius;
			border-bottom-width: $card-border-width;

            .card-figure:last-child {
                border-radius: 0 0 $card-border-radius $card-border-radius;
            }
		}
	}
}

}
