@include option("cards") {

[class*="Card"] {
	display: flex;
	flex-direction: column;
	position: relative;
	border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);
	word-wrap: break-word;
}

[class*="Card"][class*="--link"], a[class*="Card"] {
	cursor: pointer;
	color: var(--body-color);
    text-decoration: none;

    @include transition("box-shadow");

	&:hover, &:focus {
		box-shadow: 0 0 $card-hover-box-shadow-width $card-hover-box-shadow-width $card-border-color;
        text-decoration: none;
	}
}

.card-figure {
	object-fit: cover;
	max-height: 100vh;

    &:first-child {
        @include border-radius($card-border-radius $card-border-radius 0 0);
    }

    &:last-child {
        @include border-radius(0 0 $card-border-radius $card-border-radius);
    }
}

.card-title {
	font-size: $card-title-font-size;
}

.card-subtitle {
	display: block;
	font-size: $card-subtitle-font-size;
	color: var(--card-subtitle-color);
}

[class*="card-body"] {
	padding: $card-body-padding;

	> *:last-child {
		margin-bottom: 0;
	}
}

}
