// ==========================
// ==== Figure component ====
// ==========================

// Create a Figure by adding the .Figure class or add the .Afb class to the parent of a figure html tag

@include option("figure") {

.#{class("Figure")},
.#{class("Auto-formating-block")} figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $figure-padding;
    margin-top: $figure-margin-top;
    margin-bottom: $figure-margin-bottom;
	@include border-radius($figure-border-radius);
	background: $figure-background;

    // Using a more specific selector instead of a class because of the Auto-formating-block
	figcaption {
		margin-top: $figure-padding;
        text-align: center;
		color: $figure-figcaption-color;
	}

    // Using a more specific selector instead of a class because of the Auto-formating-block
    img {
        max-height: $figure-max-height-image;
    }
}

.#{class("Figure")} {
	&--#{class("(Component)-light")} {
		background: $figure-background-light;

        // Using a more specific selector instead of a class because of the Auto-formating-block
		figcaption {
			color: $figure-figcaption-color-light;
		}
	}
}

}
