@include option("figures") {

[class*="Figure"],  [class*="Afb"] figure, {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $figures-background;
	border-radius: $figures-border-radius;
	padding: $figures-padding;
    margin-top: $figures-margin-top;
    margin-bottom: $figures-margin-bottom;

	figcaption {
		margin-top: $figures-padding;
		color: $figures-figcaption-color;
        text-align: center;
	}

    img {
        max-height: $figures-max-height-image;
    }

	&[class*="--light"] {
		background-color: $figures-light-background;

		figcaption {
			color: $figures-light-figcaption-color;
		}
	}
}

}
