@include option("figure") {

.#{class("Figure")},
.#{class("Auto-formating-block")} figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $figure-padding;
    margin-top: $figure-margin-top;
    margin-bottom: $figure-margin-bottom;
	@include border-radius($figure-border-radius);
	background: $figure-background;

	figcaption {
		margin-top: $figure-padding;
        text-align: center;
		color: $figure-figcaption-color;
	}

    img {
        max-height: $figure-max-height-image;
    }
}

.#{class("Figure")} {
	&--#{class("(Component)-light")} {
		background: $figure-background-light;

		figcaption {
			color: $figure-figcaption-color-light;
		}
	}
}

}
