// =========================
// ==== Media component ====
// =========================

// Create a Media by adding the .Media class@include option("media")

@include option("media") {

.#{class("Media")} {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

    @include option("media-responsive") {
        @include respond-to($media-responsive-breakpoint, "down") {
    		flex-direction: column;
            align-items: center;

            &-#{class("(Media)-figure")} {
                margin: 0 0 $media-figure-margin-right 0;
            }
    	}
    }

    &-#{class("(Media)-body")} {
    	flex: 1;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-#{class("(Media)-figure")} {
        order: -1;

        &:not(.#{class("item-last")}) {
            margin-right: $media-figure-margin-right;
        }

        &.#{class("item-last")} {
            margin-left: $media-figure-margin-right;
        }
    }
}

}
