[class*="Media"] {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	&[class*="--reverse"] {
		flex-direction: row-reverse;
	}


	@include respond-to("tiny", "down") {
		&[class*="--responsive"] {
			flex-direction: column;

			&[class*="--float"] {
				display: block;

				[class*="media-figure"] {
					float: left;
				}
			}
		}

	}
}

[class*="media"] {
	&[class*="-content"] {
		flex: 1;

    	&[class*="--centered"] {
    		align-self: center;
    	}

    	&[class*="--bottomed"] {
    		align-self: flex-end;
    	}
	}

	&[class*="-figure--centered"] {
		align-self: center;
	}

	&[class*="-figure--bottomed"] {
		align-self: flex-end;
	}
}
