@include option("media") {

[class*="Media"] {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

    @include option("media-responsive") {
        @include respond-to("tiny", "down") {
    		flex-direction: column;
            align-items: center;

            .media-figure {
                margin: 0 0 $media-figure-margin-right 0;
            }
    	}
    }
}

.media-content {
	flex: 1;
}

.media-figure {
    &:not(.item-last) {
        margin-right: $media-figure-margin-right;
    }

    &.item-last {
        margin-left: $media-figure-margin-right;
    }
}

}
