@include option("table") {

[class*="#{class("Table")}"],
[class*="#{class("Auto-formating-block")}"] table, {
	width: 100%;
	max-width: 100%;
	table-layout: auto;
	border-spacing: 0px;
	border: $table-border-width solid var(--table-border-color);
    @include border-radius($table-border-radius);
    margin-top: $table-margin-top;
    margin-bottom: $table-margin-bottom;
    background: var(--table-background);

	@if $table-border-radius > 0 {
		border-collapse: separate;

		td, th {
			border-right: $table-border-width solid var(--table-cell-border-color);
			border-bottom: $table-border-width solid var(--table-cell-border-color);

			&:last-child {
				border-right: none;
			}
		}

		tbody tr:last-child {
			td, th {
				border-bottom: none;
			}
		}

		tfoot {
			td, th {
				border-top: $table-border-width solid var(--table-cell-border-color);
				border-bottom: none;
			}
		}
	}
	@else {
		border-collapse: collapse;

		td, th {
			border: $table-border-width solid var(--table-cell-border-color);
		}
	}

	td, th {
		padding: $table-cell-padding;
	}

	th {
		background: var(--table-headings-cell-background);
	}

    @include option("table-zebra") {
        tr:nth-child(even) {
    		background: var(--table-zebra-cell-background);
    	}
    }

    @include option("table-hover") {
        tbody tr {
            @include transition("background");

    		&:hover {
                background: var(--table-cell-hover-background);
            }
    	}
    }

	&[class*="#{class("(Component)--fixed")}"] {
		table-layout: fixed;
	}

	&[class*="#{class("(Component)--slim")}"] {
		td, th {
			padding: $table-slim-cell-padding;
		}
	}

    @include option("components-inverted") {
    	&[class*="#{class("(Component)-inverted")}"] {
    		background: var(--table-background-inverted);
    		color: var(--body-color-inverted);
            border-color: var(--table-border-color-inverted);

            td, th {
                border-color: var(--table-cell-border-color-inverted);
            }

    		th {
    			background: var(--table-headings-cell-background-inverted);
    		}

    		@include option("table-zebra") {
    			tr:nth-child(even) {
    				background: var(--table-zebra-cell-background-inverted);
    			}
    		}

            @include option("table-hover") {
                tbody tr:hover {
                    background: var(--table-cell-hover-background-inverted);
                }
            }

            a {
                color: var(--link-color-inverted);

                &:hover {
                    color: var(--link-hover-color-inverted);
                }
            }
    	}
    }

    @include option("components-light") {
    	&[class*="#{class("(Component)-light")}"] {
    		background: $table-background;
    		color: $body-color;
            border-color: $table-border-color;

            td, th {
                border-color: $table-cell-border-color;
            }

    		th {
    			background: $table-headings-cell-background;
    		}

            @include option("table-zebra") {
            	tr:nth-child(even) {
            		background: $table-zebra-cell-background;
            	}
            }

            @include option("table-hover") {
        		tbody tr:hover {
                    background: $table-cell-hover-background;
                }
            }
    	}
    }

    @include option("components-dark") {
    	&[class*="#{class("(Component)-dark")}"] {
    		background: $table-background-dark;
    		color: $body-color-dark;
            border-color: $table-border-color-dark;

            td, th {
                border-color: $table-cell-border-color-dark;
            }

    		th {
    			background: $table-headings-cell-background-dark;
    		}

            @include option("table-zebra") {
                tr:nth-child(even) {
        			background: $table-zebra-cell-background-dark;
        		}
            }

            @include option("table-hover") {
        		tbody tr:hover {
                    background: $table-cell-hover-background-dark;
                }
            }

            a {
                color: $link-color-dark;

                &:hover {
                    color: $link-hover-color-dark;
                }
            }
    	}
    }

	caption {
		color: var(--table-caption-color);
		font-style: $table-caption-font-style;
	}
}

}
